.accountF {
  display: flex;
  column-gap: 20px;
  padding: 40px 100px 205px 100px;
}

.accountF_left-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* текст для заголовков */
.accountF__title {
  color: #606060;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* основной текст */
.accountF__subtitle {
  color: #292D32;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.accountF__specialty {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}


/* Блок краткой инф-ии о пользователе */

.accountF__short-info {
  padding: 24px 45px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  border-radius: 10px;
}

.account__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../../images/edit-avatar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #EEF0FF;;
}

/* блок настроек и инф-ии */

.accountF__setting-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

.accountF__setting {
  color: #606060;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.accountF__separate-line {
  height: 6px;
  background: #EEF0FF;
}

/* Форма */

.accountF__form-container {
  border-radius: 10px;
  background: #FFF;
  padding: 40px;
  width: 100%;
}

.form-profile {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.form-profile__top-container {
  display: flex;
  justify-content: space-between;
}

.form-profile__input-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-profile__input {
  color: #292D32;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #292D32;
}

.form-profile__cansel {
  margin-left: auto;
  padding-right: 20px;
  color: #A8A8A8;
  border: none;
  background-color: white;
  cursor: pointer;
}

.form-profile__save {
  color: #93A0FF;;
  border: none;
  background-color: white;
  cursor: pointer;
}

.form-profile__notify {
  padding-left: 12px;
}

.form-profile__add-communication-type {
  color: #93A0FF;;
  border: none;
  background-color: white;
  cursor: pointer;
}

.form-profile__specialization {
  color: #292D32;
  font-size: 20px;
  font-weight: 400;
}
