.accountF {
  display: flex;
  column-gap: 20px;
  padding: 40px 100px 205px 100px;
  background-color: #F2F1EE;
}

.accountF_left-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* текст для заголовков */
.accountF__title {
  color: #3F3F3F;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* основной текст */
.accountF__subtitle {
  color: #3F3F3F;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.accountF__specialty {
  color: #606060;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.accountF__separate-line {
  height: 1px;
  background: #EEF0FF;
}

/* Блок краткой инф-ии о пользователе */

.accountF__short-info {
  padding: 24px 45px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  border-radius: 10px;
  border: 1px solid #C6C6C6;
}

.account__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../../images/profile-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #3F3F3F;;
}

/* блок настроек и инф-ии */

.accountF__setting-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #C6C6C6;
}

.accountF__setting {
  color: #606060;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}


/* Форма */

.accountF__form-container {
  border-radius: 10px;
  background: #FFF;
  padding: 40px;
  width: 100%;
  border: 1px solid #C6C6C6;
}

.form-profile {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form-profile__top-container {
  display: flex;
  justify-content: space-between;
}

.form-profile__input-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.form-profile__input {
  color: #3F3F3F;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid #C6C6C6;
}

.form-profile__cansel {
  margin-left: auto;
  padding-right: 20px;
  color: #A8A8A8;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.form-profile__save {
  color: #93A0FF;;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  color: #3F3F3F
}

.form-profile__notify {
  padding-left: 12px;
}

.form-profile__add-communication {
  align-self: flex-start;
}

.form-profile__list {
  color: #292D32;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.form-profile__list-default {
  color: #B5B5B5;
}

.form-profile__list-title {
  padding: 12px 20px;
  background-color: white;
  border-radius: 10px;
}

.form-profile__rate-input {
  width: 30%;
  background-image: url(../../images/ruble.svg);
  background-repeat: no-repeat;
  background-position: 83% center;
  background-size: 23px 23px;
}

.form-profile__portfolio-container {
  display: flex;
  column-gap: 20px;
}

.form-profile__portfolio-item {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: #C9C9C9;
}

.form-profile__portfolio-item__close {
  border: none;
  background-color: #C9C9C9;
  cursor: pointer;
  background-image: url(../../images/close-circle.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
}