{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container" x-init>
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-6 col-xl-4 auth-form">
			<div class="card bg-white text-black" style="border-radius: 1rem;">
				<div class="card-body p-4">
					<div class="">
						<p class="form-caption">Напишите что вас интересует</p>
						<form method="POST">
							<p class="form-error-msg">{{ form.error }}</p>
							{% csrf_token %}
							{% bootstrap_form form %}
							<button class="btn btn-primary btn-lg px-5 w-100 form-control" type="submit">Создать
							</button>
						</form>

					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock content %}