.register {
  max-width: 612px;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__statusNameContainer {
  display: flex;
}

.register__statusNameLeft {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.register__statusNameRight {
  display: flex;
  flex-direction: column;
}

.register__radioButtonLabel {
  display: flex;
}

.register__radioButton {
  display: none;
}
.register__radioButton:checked + .register__radioButtonFake::before {
  opacity: 1;
}

.register__radioButtonFake {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.register__radioButtonFake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 12px;
  background-color: #93a0ff;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}

.register__radioButtonText {
  color: #585858;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}



.register__footerLinkContainer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  color: #585858;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.register__footerLinkDescription {
  margin: 0 6px 0 0;
}
.register__footerLink{
  text-decoration: underline;
  cursor: pointer;
  color: #585858;
  transition: all 0.2s ease-in-out;
}
.register__footerLink:hover {
  opacity: 0.8;
 }