.content {
  margin: 0 auto;
}

.content__order-container {
  padding: 0 100px 80px;
  background: #f2f1ee;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content__border {
  height: 60px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: #f2f1ee;
}

.content__border-authorized {
  height: 24px;
}

.content__image-decorate {
  height: 30px;
  margin-top: 158px;
  margin-bottom: 40px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: lowercase;
  white-space: pre-wrap;
}

/*
  margin:0 auto 80px;
  padding: 0 100px;
  max-width: 1240px;
*/
