.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 60px;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  transition: box-shadow .3s ease-in-out;
}

.tags:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.tag__input {
  width: 100%;
  border: none;
  outline: none;
  color: #292D32;
  font-size: 16px;
  font-weight: 400;
}
