{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}

{% if col %}
    <div class={{ col }}>
{% endif %}
<div class="card {{ addition_card_class }}">
    <div class="card-body">
        <div class="left">
            <h4 class="card-title">
                <span class="icon-text"> <a href="/jobs/{{ job.id }}" class="link-dark">{{ job.title }}</a></span>
                <span class="red-icon">
                                    {% bs_icon 'fire' %}
                                </span>
            </h4>
            <h3 class="card-subtitle">{{ job.final_salary }} ₽</h3>
            <div>
                <a class="job-card-item-customer customer-name"
                   href="/company/{{ job.company.id }}">{{ job.company.name }} {% bs_icon 'check-circle' %}</a>
            </div>
            {% if short is False %}
                {% with region=job.regions_name %}
                    {% include "../busy_type.html" %}
                {% endwith %}
            {% endif %}
            <div class="">
                {% if job.deposit is 0 %}
                    <div class="left">
                        <p>
                        <span>
                        {% bs_icon 'currency-dollar' %}
                        </span>
                            <span class="icon-text">Без залога</span>
                        </p>

                    </div>
                {% else %}
                    {% if short is False %}
                        <span class="job-card-item-customer text-muted job-type">Залог: {{ job.deposit }} ₽</span>
                    {% endif %}
                {% endif %}
                <div class="">
                    {% if job.work_experience is 0 %}
                        <p>
                        <span>
                        {% bs_icon 'bag' %}
                        </span>
                            <span class="icon-text">Без опыта</span>
                        </p>
                    {% endif %}
                </div>
                <div class="clear">
                    {% if job.work_experience > 0 %}
                        {% if short is False %}
                            <span class="job-card-item-customer text-muted job-type">Опыт: {{ job.work_experience }} месяцев</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
        {% if show_company_logo is True %}
            <div class="right">
                <img src="/media/{{ job.company.logo }}" height="50" alt="{{ job.company.name }}"/>
            </div>
        {% endif %}
        {% if short is False and not user %}
            <div class="clear">
                <a href='/signin' class="btn btn-success">Войти для отклика</a>
            </div>
        {% endif %}
        {% if short is False %}
            <div class="clear">
                {% if user.is_worker and job.type == 0 and job.status == 0 %}
                    <button class="btn-primary btn">Ждёт подтверждения от работодателя</button>
                {% elif user.is_worker and job.type == 0 and job.status == 1 %}
                    <button class="btn-success btn">Работодатель подтвердил собеседование</button>
                    <a href="#">Перейти в чат с работодателем</a>
                {% elif user.is_worker and job.type == 0 and job.status == 2 %}
                    <button class="btn-primary btn">Отклик откланён работодателем</button>
                {% elif user.is_worker and job.type == 0 and job.status == 3 %}
                    <button class="btn-danger btn">Отклик удалён работодателем</button>
                {% elif user.is_worker and job.type == 1 and job.status == 0 %}
                    <button class="btn-primary btn">Работодатель пригласил на собеседование</button>
                    <form action="{% url 'response_invite_update' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="request_invite_id" value="{{ job.request_invite_id }}"/>
                        <input type="hidden" name="redirect" value="{{ request.get_full_path }}"/>
                        <input type="hidden" name="status" value="1"/>
                        <input type="submit" class="btn btn-success" value="Принять отклик"/>
                    </form>
                {% elif user.is_worker and job.type == 1 and job.status == 1 %}
                    <button class="btn-primary btn">Вы подтвердили приглашение на собеседование</button>
                    <a href="#">Перейти в чат с работодателем</a>
                {% elif user.is_worker and job.type == 1 and job.status == 2 %}
                    <button class="btn-primary btn">Вы отклонили приглашение</button>
                {% elif job.status is None %}
                    {% if resumes|length > 0 %}
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                                data-bs-target="#responseInvite_{{ job.id }}" aria-expanded="false"
                                aria-controls="responseInvite_{{ job.id }}">
                            Откликнуться
                        </button>
                        <div class="collapse" id="responseInvite_{{ job.id }}">
                            <div class="card card-body">
                                <form action="{% url 'response_invite_create' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}"/>
                                    <label for="id_resume">Резюме</label>
                                    <input type="hidden" name="redirect" value="{{ request.get_full_path }}"/>
                                    {{ form_response.resume }}
                                    <br/>
                                    <input type="submit" class="btn btn-success" value="Отправить отклик"/>
                                </form>
                            </div>
                        </div>
                    {% elif user.is_worker %}
                        <a href="/profile/resume" class="btn-primary btn">Создать резюме</a>
                    {% endif %}
                {% endif %}

            </div>
        {% endif %}
    </div>
</div>
{% if col %}
    </div>
{% endif %}
