.wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}

.title {
  color: #3f3f3f;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin: 0 0 40px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  padding: 20px;
  width: 610px;
  height: 391px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #c6c6c6;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popupCheckMark {
  background-image: url(../../images/checkMark.svg);
  background-position: center;
  width: 120px;
  height: 107px;
  margin: 32px auto 20px;
}

.popupTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.popupDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px auto 24px;
  max-width: 400px;
  text-align: center;
}
