.forgot-pass__wrapper {
  width: 100%;
  margin: 0 auto;
}

.forgot-pass__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}

.forgot-pass__title {
  margin: 0 0 40px;
  color: #3f3f3f;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0 0 0 / 80%);
}

.popup {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  display: flex;
  width: 610px;
  height: 391px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0 0 0 / 10%);
  opacity: 1;
  transform: translate(50%, -60%);
}

.popup-check-mark {
  width: 120px;
  height: 107px;
  margin: 32px auto 20px;
  background-image: url('../../images/checkMark.svg');
  background-position: center;
}

.popup-title {
  margin: 0;
  color: #606060;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.popup-description {
  max-width: 400px;
  margin: 16px 20px 40px;
  color: #606060;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.popup__error {
  position: absolute;
  bottom: 30px;
  max-width: 400px;
  margin: 0;
  color: #f00;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
