.start-work {
  margin-left: 100px;
}

.start-work__title {
  margin: 230px 0 0;
  padding: 0;
  width: 100%;
  max-width: 622px;
  color: #FFF;
  font-family: 'Overpass Mono', monospace;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px
}

.start-work__buttons-container {
  margin-top: 48px;
  display: flex;
  gap: 40px;
}

.start-work__button {
  width: 295px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid #606060;
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.start-work__button_freelance {
  margin-right: 20px;
}
