.header-auth {
  min-width: 221px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.header-auth__singup-button {
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header-auth__singup-button_main-page {
  text-decoration: none;
  color: white;
}

.header-auth__singup-button:hover {
  transition: 1s ease-in;
  opacity: 0.5;
}

.header-auth__entry-button {
  margin-left: 40px;
  border: 0;
  border-radius: 10px;
  padding: 6px 28px;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-auth__white {
color:#fff
}

.header-auth__entry-button:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.header-auth__authState {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #3F3F3F;
}
