.header-auth {
  display: flex;
  min-width: 221px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.header-auth__singup-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #3f3f3f;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-auth__singup-button_main-page {
  color: white;
  text-decoration: none;
}

.header-auth__singup-button:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.header-auth__entry-button {
  display: flex;
  overflow: hidden;
  width: 103px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #fff;
  color: #606060;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-auth__white {
  color: #fff;
}

.header-auth__entry-button:hover {
  transition: all 0.2s ease-in-out;
}
