.header-auth {
  min-width: 221px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.header-auth__singup-button {
  padding: 0;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-underline-offset: 4px;
}

.header-auth__singup-button_main-page {
  text-decoration: none;
  color: white;
}

.header-auth__singup-button:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.header-auth__white {
  color: #fff;
}

.header-auth__entry-button:hover {
  transition: all 0.2s ease-in-out;
}
