.header-auth {
  min-width: 221px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.header-auth__singup-button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.header-auth__singup-button:hover {
  transition: 1s ease-in;
  opacity: 0.5;
}

.header-auth__entry-button {
  margin-left: 20px;
  border: 0;
  border-radius: 10px;
  padding: 7px 39px 8px 39px;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-auth__entry-button_signin {

}

.header-auth__entry-button:hover {
  transition: 1s ease-in;
  opacity: 0.6;
}
