.reset-password__wrapper {
  margin: 0 auto;
  width: 100%;
}

.reset-password__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}

.reset-password__title {
  color: #3f3f3f;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin: 0 0 40px;
}
