# easy-rsa variables file

# Set the path to the OpenSSL configuration file
KEY_CONFIG=openssl.cnf

# Set the path to the certificate directory
KEY_DIR=/cert/

# Set the country name
KEY_COUNTRY=US

# Set the organization name
KEY_ORG=My Organization

# Set the organizational unit name
KEY_OU=My Unit

# Set the common name
KEY_CN=My Server

# Set the email address
KEY_EMAIL=adminl@example.com

# Set the certificate expiration date
KEY_EXPIRE=3650
