.link-bar {
  display: flex;
  min-width: 308px;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  margin: 28px 0 32px;
}

.link-bar__text {
  margin: 0;
  color: #585858;
  font-size: 20px;
  font-weight: 600;
}

.link-bar__menu {
  display: flex;
  width: 100%;
  margin-top: 28px;
}

.link-bar__item {
  height: 47px;
  box-sizing: border-box;
  margin-right: 40px;
  transition: all 0.1s ease-in-out;
}

.link-bar__item:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.link-bar__item:active {
  opacity: 0.6;
}

.link-bar__item:last-child {
  margin-right: 0;
}

.link-bar__item_type_vk {
  width: 46px;
  height: 46px;
  background-image: url('../../images/vk.svg');
  background-position: center;
}

.link-bar__item_type_google {
  width: 46px;
  height: 46px;
  background-image: url('../../images/google.svg');
  background-position: center;
}

.link-bar__item_type_github {
  width: 46px;
  height: 46px;
  background-image: url('../../images/github.svg');
  background-position: center;
}

.link-bar__item_type_yandex {
  width: 46px;
  height: 46px;
  background-image: url('../../images/yandex.svg');
  background-position: center;
}
