{% load django_bootstrap5 %}
{% load bootstrap_icons %}


<span class="job-card-item-customer text-muted job-type">{{ job.is_offline|yesno:"Оффлайн,Онлайн" }}
    {{ regions|length|yesno:":, " }}
    {% if regions|length %}
        {% for region in regions %}

            {% if forloop.counter <= 3 %}
                {{ region.name }}
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% else %}
                {% if forloop.counter == 4 %}
                    <span>
                {% endif %}
                {{ region.name }}

                {% if forloop.last %}
                    </span>
                {% else %}
                    ,
                {% endif %}

            {% endif %}
        {% endfor %}
    {% endif %}
</span>

