<div class="invite-container">
  <div class="invite-text">Invitations</div>
  <div class="invite-count">
    <div class="circle-background"></div>
    <div class="circle-text">99</div>
  </div>
</div>
<style>
    .invite-container {
  display: flex;
  align-items: center;
  position: relative;

  height: 43px;
  font-family: 'Inter', sans-serif;
}

.invite-text {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.invite-count {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.circle-background {
  width: 20px;
  height: 20px;
  background-color: #D6001C;
  border-radius: 50%;
  position: absolute;
}

.circle-text {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

/* Дополнительные стили для поддержки старого кода */
.Invite {
  width: 130px;
  height: 43px;
  position: relative;
}

.InviteCount {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.Ellipse26 {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #D6001C;
  border-radius: 9999px;
}
</style>