{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
<form method="POST">
    {% csrf_token %}
    {{ form.company }}
    {{ form.comment }}
    <div class="star-rating" id="review_form">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        {{ form.rating }}
    </div>
    <div class="captcha">
        <img id="captcha-img" src="data:image/png;base64, {{ captcha }}">
    </div>
    <input type="hidden" name="ref" value="">
    <input type="hidden" name="hashkey" value="{{ hashkey }}">
    <div class="mb-3">
        <label class="form-label" for="id_username">Введите капчу</label>
        <input type="text" name="captcha"  autocapitalize="none" class="form-control" placeholder="captcha" required="" id="id_captcha">
    </div>
    <button class="btn btn-primary" type="submit">Оставить отзыв</button>
</form>