.register {
  max-width: 612px;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form-role-container {
  display: flex;
  width: 100%;
  max-width: 610px;
  justify-content: space-between;
}

.register__footer-link-container {
  display: flex;
  align-items: center;
  margin: 24px 0 110px;
  color: #585858;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
}

.register__footer-link-description {
  margin: 0 12px 0 0;
}

.register__footer-link {
  color: #585858;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.register__footer-link:hover {
  opacity: 0.8;
}
