.input-switch__container {
  position: relative;
}

.input-switch__label {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #7b7b7b;
  font-size: 16px;
  line-height: 1.25;
}

.input-switch__input {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  appearance: none;
  transition: border 0.3s ease-in-out;
}

.input-switch__input:focus {
  outline: none;
  border-color: #3f3f3f;
}

.input-switch__input_type_radio {
  border-radius: 50%;
}

.input-switch__input_type_radio:checked {
  border-color: #3f3f3f;
}

.input-switch__input_type_radio:hover:not(:disabled) {
  border-color: #3f3f3f;
}

.input-switch__input_type_radio:checked::after {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #3f3f3f;
}

.input-switch__input_type_checkbox {
  border-radius: 8px;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.input-switch__input_type_checkbox:checked {
  background: #3f3f3f url('../../../images/check.svg') no-repeat center / 14px;
}

.input-switch__input_type_checkbox:hover:not(:disabled) {
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.input-switch__input_type_error {
  border: 1px solid #eb5757;
}

.input-switch__error-text {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  color: #eb5757;
  font-size: 12px;
  line-height: 1.1;
}
