.list__container {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 11px 23px;
  box-sizing: border-box;
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  color: #3F3F3F;
  background-image: url(../../../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 98% center;
  cursor: pointer;
  background-color: #fff;
  transition: box-shadow .3s ease-in-out;
}

.list__container-open {
  position: relative;
}

.list__container:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.list__preview {
  color: #7B7B7B;
  display: none;
}

.list__preview_show {
  display: block;
}

.list__value {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  gap: 8px;
}

.list__title {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #C6C6C6;
  padding: 7px 15px;
  column-gap: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
}

.list__item-close {
  width: 12px;
  height: 12px;
  background-image: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.list__options {
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  position: absolute;
  margin: 0;
  padding: 14px 0;
  list-style: none;
  width: 100%;
  left: 0;
  top: calc(100% + 12px);
  background-color: white;
  z-index: 5;
  display: none;
  box-sizing: border-box;
}

.list__options_show {
  display: block;
}

.list__option {
  display: flex;
  column-gap: 16px;
  align-items: center;
  padding: 8px 0 8px 24px;
  cursor: pointer;
}

.list__option-highlighted {
  background-color: #F2F1EE;
}

.list__checkbox {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #C6C6C6;
}

.list__checkbox-highlighted {
  background-color: #3F3F3F;
  background-image: url(../../../images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #3F3F3F;
}
