.freelancer-complete-form {
  max-width: 610px;
  margin: 0 auto;
}

.freelancer-complete-form__image-input {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.freelancer-complete-form__input-text {
  margin: 32px 0 16px;
  color: #3F3F3F;
  font-size: 16px;
  line-height: 1.25;
}

.freelancer-complete-form__contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px 16px;
}

.freelancer-complete-form__input-radio-text {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #7B7B7B;
}

.freelancer-complete-form__input-radio {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #C6C6C6;
  border-radius: 8px;
  background-color: #FFF;
  appearance: none;
  transition: all .3s ease-in-out;
}

.freelancer-complete-form__input-radio:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.freelancer-complete-form__input-radio:checked::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #7B7B7B;
}

.freelancer-complete-form__input-doc-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.freelancer-complete-form__input-year-wrapper {
  display: flex;
  justify-content: space-between;
}
