{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0" x-data>
                    <template x-for="chat in $store.chatsData.chats">
                        <li class="clearfix" :id="chat.chat_uuid" x-bind="chat_item">
                            <img :src="chat.other_user.photo" alt="avatar">
                            <div class="about">
                                <div class="name" x-text="chat.other_user.display_name"></div>
                                <div class="status"> <i class="fa fa-circle offline"></i> <p x-text="chat.messages.length?chat.messages[chat.messages.length - 1].sender+ ': ' +  chat.messages[chat.messages.length - 1].message: ''"></p></div>
                            </div>
                        </li>
                    </template>

                </ul>
            </div>
            <div class="chat"  x-data>
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img :src="$store.chatsData.getOtherUser().other_user.photo" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0" x-text="$store.chatsData.getOtherUser().other_user.display_name"></h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0" x-data="{self_nick_name: '{{ user.display_name }}'}">
                        <template x-for="message in $store.chatsData.currentChatMessages">
                            <li class="clearfix">
                                <div class="message-data" :class="message.sender == self_nick_name? 'text-right' : ''">
                                    <span class="message-data-time"   :class="message.sender == self_nick_name? ' other-message float-right' : 'my-message'"  x-text="message.date"></span>
                                </div>
                                <div class="clear"></div>
                                <div class="message "  :class="message.sender == self_nick_name? ' other-message float-right' : 'my-message'"  x-text="message.message"></div>
                            </li>
                        </template>

                    </ul>
                </div>
                <div class="chat-message clearfix" x-data>
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"  id="chat-message-submit"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" x-bind="chat_text_input" x-model="$store.chatsData.message"  placeholder="Enter text here...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <div x-data="{ open: false }">
    <button @click="open = !open">Expand</button>

    <span x-show="open">
        Content...
    </span>
</div>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{% static './js/chat.js' %}"></script>
{% endblock content %}