{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container"  x-data>
    <div x-init="initChat()">
        <template x-if="$store.chatsData.chats">
       <div class="chat">
        <div class="chats-container" id="chats-container" >

            <div class="search-bar">
                <div class="search-icon"></div>
                <input type="text" class="search-placeholder" x-bind="searchChat" placeholder="Поиск по чатам..." />
            </div>

            <template x-for="chat in $store.chatsData.chats">
                <div class="chats-message-preview" :class="chat.active? 'chat-active': ''" :key="chat.chat_uuid"
                    x-bind="chat_item" :id="chat.chat_uuid">
                    <template x-if="chat.other_user.photo">
                        <img :src="chat.other_user.photo? chat.other_user.photo: '/media/company/images/logo.png'"
                            alt="avatar" class="avatar" :alt="chat.other_user.display_name">
                    </template>

                    <template x-if="!chat.other_user.photo">
                        <img class="avatar" src="https://via.placeholder.com/50x50" />
                    </template>

                    <div class="chats-message-info">
                        <div class="chats-message-header">
                            <template x-if="chat.other_user.is_moderator">
                                <div class="chats-message-username red" x-text="chat.other_user.display_name"></div>
                            </template>
                            <template x-if="!chat.other_user.is_moderator">
                                <div class="chats-message-username" x-text="chat.other_user.display_name"></div>
                            </template>

                            <div class="chats-message-time"
                                x-text="chat.messages.length?$store.chatsData.formatShortDate(chat.messages[chat.messages.length - 1].created):''">
                                12:00</div>
                        </div>
                        <div class="chats-message-body">
                            <div class="chats-message-text"
                                x-text="chat.messages.length?chat.messages[chat.messages.length - 1].sender+ ': ' +  chat.messages[chat.messages.length - 1].message: ''">
                                Равным образом, реализац...</div>
                            <template x-if="chat.not_read_count !== 0">
                                <div class="notification">
                                    <div class="notification-text" x-text="chat.not_read_count">100</div>
                                </div>
                            </template>

                        </div>
                    </div>
                </div>
            </template>
            <template x-if="$store.chatsData.user">
                <div class="return-bar">
                    <template x-if="$store.chatsData.user.is_customer">
                        <a class="return-link" href="/candidats"> Вернуться в личный кабинет</a>
                    </template>
                    <template x-if="$store.chatsData.user.is_worker">
                        <a class="return-link" href="/responses_invites"> Вернуться в личный кабинет</a>
                    </template>
                </div>
            </template>
        </div>
        <div class="chat-container"
            x-data="{self_nick_name: '{{ user.display_name }}', acitve_chat:'$store.chatsData.activeChatUUID'}">
            <div class="footer">
                <div class="input-container">
                    <input type="text" class="input-box" x-bind="chat_text_input" x-model="$store.chatsData.message"
                        placeholder="Напишите сообщение ...">

                </div>
                <div class="send-button">
                    <button class="chat-send-message-btn" id="chat-message-submit"
                        x-on:click="$store.chatsData.sendMessage()"></button>
                </div>
            </div>
            <div class="header">
                <div class="expand-bar">

                    <button x-bind="expand_btn" type="button" class="test-btn" aria-label="Back" title="Back">
                        <div class="animated-close-icon state-back"></div>
                    </button>
                </div>

                <div class="shop-name" x-text="$store.chatsData.getOtherUser().other_user.display_name">Shop name</div>

                <button class="leave-icon-container" x-bind="leaveBtn">
          
                    <div class="leave-chat ">Покинуть чат</div>
                    <div class="chat-exit-icon"></div>
              
                </button>
            </div>
            <div class="chat-body">
                <div class="chat-space">
                     <template x-if="$store.chatsData.getActiveChatMessages.length">
                    <template x-for="message in $store.chatsData.getActiveChatMessages">
                        <div class="message-container" :key="'message_'+message.id" :id="'message_'+message.id"
                            :class="$store.chatsData.markFiltered(message.id)">
                            <template x-if="message.sender_id == $store.chatsData.user_id">
                                <div>
                                   
                                        <img :src="$store.chatsData.getSelfPhoto()" alt="avatar"
                                            class="Avatar__media avatar-media opacity-transition slow open shown ">
                           
                                </div>

                            </template>
                            <template
                                x-if="message.sender_id !== $store.chatsData.user_id">
                                <div>
                                      <img :src="$store.chatsData.getOtherPhoto()" alt="avatar"
                                          class="Avatar__media avatar-media opacity-transition slow open shown ">
                                </div>

                            </template>
                            <div class="message-content">
                                <div class="message-header">
                                    <div class="message-username" x-text="message.sender">Shop name</div>
                                    <div class="message-time"
                                        x-text="$store.chatsData.formatShortTime(message.created)">12:00</div>
                                </div>
                                <div class="message-text" x-text="message.message">
                                    Равным образом, реализация намеченных плановых заданий не оставляет шанса для
                                    экономической целесообразности принимаемых решений. В своём стремлении повысить
                                    качество жизни, они забывают, что курс на социально-ориентированный национальный
                                    проект
                                    играет важную роль в формировании.
                                </div>
                            </div>
                        </div>
                    </template>
</template>
                </div>
            </div>
        </div>
        </template>
</div>
    </div>
</div>

{% with script_name='chat_script' %}
{{ serialized_chat|json_script:script_name}}
{% endwith %}


<script>
       
      const initChat = () => {
       const data = JSON.parse(document.getElementById('chat_script').textContent)
       chat = new Chat(data.user_id, data.chat_id)
      }
   
   
</script>
{% endblock content %}