{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0" x-data>
                    <template x-for="chat in $store.chatsData.chats">
                        <li class="clearfix" :class="chat.active? 'chat-active': ''" :id="chat.chat_uuid" x-bind="chat_item">
                            <img :src="chat.other_user.photo" alt="avatar">
                            <div class="about">
                                <div class="name" x-text="chat.other_user.display_name"></div>
                                 <div x-text="chat.chat_title"></div>
                                <div x-text="chat.not_read_count"></div>
                                    <p x-text="chat.messages.length?chat.messages[chat.messages.length - 1].sender+ ': ' +  chat.messages[chat.messages.length - 1].message: ''"></p>
                                    <template  x-if="chat.messages.length && chat.messages[chat.messages.length - 1].file_name">
                                        <a x-text="chat.messages[chat.messages.length - 1].file_name" :href="'download/' + chat.messages[chat.messages.length - 1].file_id" target="_blank"></a>
                                    </template>
                                </div>
                            </div>
                        </li>
                    </template>

                </ul>
            </div>
            <div class="chat"  x-data>
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img :src="$store.chatsData.getOtherUser().other_user.photo" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0" x-text="$store.chatsData.getOtherUser().other_user.display_name"></h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0" x-data="{self_nick_name: '{{ user.display_name }}', acitve_chat:'$store.chatsData.activeChatUUID'}">
                        <template x-for="message in $store.chatsData.getActiveChatMessages" :key="message.created">
                            <li class="clearfix">
                                <div class="message-data" :class="message.sender == self_nick_name? 'text-right' : ''">
                                    <span class="message-data-time"   :class="message.sender == self_nick_name? ' other-message float-right' : 'my-message'"  x-text="message.created"></span>
                                </div>
                                <div class="clear"></div>
                                <template  x-if="message.file_name">
                                    <a x-text="message.file_name" :href="'download/' + message.file_id" target="_blank"></a>
                                </template>
                                <template  x-if="message.message">
                                    <div class="message " :class="message.sender == self_nick_name? ' other-message float-right' : 'my-message'"  x-text="message.message"></div>
                                </template>

                            </li>
                        </template>

                    </ul>
                </div>
                <div class="chat-message clearfix" x-data>
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"  id="chat-message-submit" x-bind="chat_submit_btn"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" x-bind="chat_text_input" x-model="$store.chatsData.message"  placeholder="Enter text here...">
                    </div>
                </div>
                 <form enctype="multipart/form-data" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Select file to upload.</label>
                        <input type="file" class="form-control" id="fileupload" placeholder="Select file">
                    </div>
                    <input type="submit" value="Upload" x-bind="file_upload_btn" class="btn btn-success">
                </form>
                <div id="uploaded_files"></div>
            </div>
        </div>
    </div>
</div>
</div>
    <div x-data="{ open: false }">
    <button @click="open = !open">Expand</button>

    <span x-show="open">
        Content...
    </span>
</div>
    <script src="{% static 'js/alpine.js' %}" defer></script>
    <script src="{% static './js/chat.js' %}"></script>
    <script>

    const chat = new Chat({{ user.id }})

    </script>
{% endblock content %}