{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                            <img src="../media/{{ company.logo }}"
                                 alt="{{ company.name }}" class="card-img-top" width="190" height="190">
                            <div class="card-body">
                                <h5 class="card-title">{{ company.name }}</h5>
                                {% for contact in contacts %}
                                    <a href="{{ contact.value}}">{{ contact.value }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    <div>
                        {{ company.about|safe }}
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </section>

    </div>
{% endblock content %}