{% extends "base.html" %}
{% load bootstrap_icons %}
{% block content %}

    <div class="container">
        <section>
            <div class="card">
                <h5 class="card-header">Доступ к базе резюме</h5>
                <div class="card-body">
                    <div style="height: 150px;" class="card-p-margin-5">
                        <p class="card-text"> {% bs_icon 'check-circle' %} Доступ к базе и поиску по резюме на 30
                            дней</p>
                        <p class="card-text"> {% bs_icon 'check-circle' %} Возможность приглашать кандидатов на
                            вакансию</p>
                    </div>
                    <h5 class="card-title">Стоимость: 0 $</h5>
                    <form action="profile/customer_access" method="post" >
                        {% csrf_token %}
                        <input type="submit"  class="btn btn-primary" value="Подключить" />
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}