{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container" x-data>
        <section x-init="initJob()">
            <div class="row">
                <div class="job-list">
                    <template x-if="$store.main.job">

                        <div class="row">

                            <div class="col-lg-9">
                                <div :class="['card', 'no-hover', $store.main.job.payment.job_tier_id == 3? 'hot-job-card ':'' ]">
                                    <div class="card-body">

                                        <div class="card-title d-flex">
                                            <a :href="'/jobs/' +$store.main.job.id" class="title">
                                                <h4 class="title" x-text="$store.main.job.title"></h4>
                                            </a>
                                            <template x-if="$store.main.job.payment.job_tier_id == 3">
                                                <img src="{% static 'contract/img/icons/hot.svg' %}" height="22"
                                                     class="ml-5 company-logo-mini">
                                            </template>

                                        </div>

                                        <h3 class="card-subtitle salary"
                                            x-text="$store.main.getSalaryStr($store.main.job)"></h3>
                                        <div class="d-flex ">
                                            <a :href="'/company/'+ $store.main.job.company_id "
                                               x-text="$store.main.job.company.name" class=" shop-name"></a> <img
                                                src="/staticfiles/contract/img/icons/approved.svg" height="16"
                                                class="ml-5 mt-15">
                                        </div>
                                        <div class="work-description-container">
                                            <div>
                                                  <span class="job-card-item-customer  work-type"
                                                        x-html="$store.main.getRegionsStr($store.main.job)"></span>
                                            </div>
                                            <div class="vacancy-description">

                                                <div class="d-flex mr-15">
                                                    <span class="work-experience  mr-5 text-shadow">Опыт работы: </span>
                                                    <span class="work-experience"
                                                          x-text="$store.main.getWorkExpString($store.main.job.work_experience, false)"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="work-experience  mr-5 text-shadow">График работы: </span>
                                                    <span class="work-deposit"
                                                          x-text="$store.main.getWorkTimeString($store.main.job.is_fulltime)"></span>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="work-experience  mr-5 text-shadow">Требуемый залог: </span>
                                                    <span class="work-deposit"
                                                          x-text="$store.main.getDepositStr($store.main.job)"></span>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="row mt-15">
                                            <div class="col-5">

                                                <template x-if="$store.main.user.id<0">
                                                    <a href='/worker/signin?redirect=/jobs/{{job.id}}' class="btn btn-success">Войти для
                                                        отклика</a>
                                                </template>
                                                <template x-if="$store.main.user.id>=0  && $store.main.user.is_worker">
                                                    <div x-data="{res: $store.main.getResponseInviteElement($store.main.job.invite)}">

                                                        <template x-if="res.element === 'link'">
                                                            <a class="btn btn-white btn-large w-100" :href="res.link"
                                                               x-text="res.text"></a>
                                                        </template>
                                                        <template x-if="res.element === 'status'">
                                                            <div>
                                                                <p class="response-invite-result"
                                                                   x-text="$store.main.job.invite.msg"></p>
                                                                <p x-text="res.text"></p>
                                                            </div>

                                                        </template>
                                                        <template x-if="res.element === 'form'">

                                                            <template x-for="action in res.actions"
                                                                      :key="action.action">
                                                                <div>
                                                                    <template x-if="action.action !== 'create'">
                                                                        <button x-on:click="application.sendResponse(action.action, res.id)"
                                                                                x-text="action.text"></button>
                                                                    </template>
                                                                    <template x-if="action.action === 'create'">
                                                                        <div>
                                                                            <div class="flex">
                                                                                <button class="btn btn-success mr-5"
                                                                                        x-on:click="application.sendResponse(action.action, res.id, $store.main.job.id)"
                                                                                        x-text="action.text"></button>
                                                                                <select name="resume"
                                                                                        x-model="$store.main.selectedResume"
                                                                                        class="form-control">
                                                                                    <template
                                                                                            x-for="resume in $store.main.resumes"
                                                                                            :key="resume.id">
                                                                                        <option :value="resume.id"
                                                                                                x-text="resume.name"></option>
                                                                                    </template>
                                                                                </select>
                                                                            </div>
                                                                        </div>


                                                                    </template>
                                                                </div>

                                                            </template>

                                                        </template>
                                                    </div>
                                                </template>
                                            </div>
                                            <div class="col-5">
                                                <a class="btn btn-white w-100 btn-large" href="#contacts">Перейти к
                                                    контактам</a>
                                            </div>
                                            <div class="col-2">
                                                <template x-if="$store.main.user.id>=0 && $store.main.user.is_worker ">
                                                    <div class="">


                                                        <input type="checkbox" :id="'favorite_job_'+$store.main.job.id"
                                                               class="favorite_job_checkbox"
                                                               @click="application.setFavorite($store.main.job.id)"
                                                               x-model="$store.main.job.favorite.checked"/>
                                                        <label class="favorite-label"
                                                               :for="'favorite_job_'+$store.main.job.id"></label>
                                                    </div>
                                                </template>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-3 ">
                                <div class="card no-hover">
                                    <div class="card-body">
                                        <template x-if="$store.main.job.company.logo">
                                            <img :src="'/media/'+$store.main.job.company.logo" height="50" width="50"
                                                 class="company-logo-mini"
                                                 :alt="$store.main.job.company.name"/>
                                        </template>
                                        <div class="d-flex ">
                                            <a :href="'/company/'+ $store.main.job.company_id "
                                               x-text="$store.main.job.company.name" class=" shop-name"></a> <img
                                                src="/staticfiles/contract/img/icons/approved.svg" height="16"
                                                class="ml-5" style="margin-top: 3px">
                                        </div>
                                        <div class="d-flex ">
                                            <p class="text-big bold" x-text="$store.main.job.company.rating"></p>
                                            <template
                                                    x-for="item in application.getJobRatingArray($store.main.job.company.rating)">
                                                <label :class="['rating-star', item === 0? 'star-empty': item === 1? 'star-half': 'star-fill']"></label>
                                            </template>
                                            <span class="nowrap"
                                                  x-text="application.getCommentsCountStr($store.main.job.company.reviews)" style="line-height: 2;
    font-size: 14px;"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </template>
                </div>

            </div>
            <template x-if="$store.main.job">
                <div>
                    <div x-html="$store.main.job.description"></div>
                    <div id="contacts">
                        <h4>Контакты</h4>

                        <template x-for="contact in $store.main.job.contacts"
                                  :key="'contact_'+ contact.id">

                            <div><a :href="contact.value" x-text="contact.value"></a></div>


                        </template>

                    </div>
                    <div class="mt-5 d-flex">
                        <img src="{% static 'contract/img/eye.svg' %}" height="16" class="mr-15 filter-grey">
                        <p class="text-shadow mr-15" style="line-height: 1.2;"
                           x-text="$store.main.job.views + ' просмотров'"></p>
                        <p class="text-shadow ml-5" style="line-height: 1.2;"
                           x-text="'Дата публикации '+ application.formatShortDate($store.main.job.pub_date)"></p>
                    </div>
                </div>

            </template>
        </section>
    </div>

    <script>
        const initJob = () => {
            application.initJob({{ job.id }})
        }
        $(document).ready(() => {
            const application = new app()
            application.initRating($('.star-rating .fa'), 'input.rating-value', false)
        })
    </script>
{% endblock content %}