{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

    <div class="container">
        <section>
            <div class="d-flex border-grey">
                <div class="collapse show" id="collapseTitle">

                    <p>Как уже неоднократно упомянуто, сторонники тоталитаризма в науке, вне зависимости от их уровня,
                        должны быть объективно рассмотрены соответствующими инстанциями. Лишь сделанные на базе
                        интернет-аналитики выводы разоблачены! Для современного мира повышение уровня гражданского
                        сознания позволяет оценить значение кластеризации усилий. Однозначно, многие известные личности
                        формируют глобальную экономическую сеть.</p>
                </div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
                        data-bs-target="#collapseTitle"></button>
            </div>
        </section>


        <section>
            <h3 class="f-20">Анонимный поиск работы без границ</h3>
            <form class="form search-form-main d-flex" action="/jobs" method="get">
                <div class="flex-1">
                    <input type="text" name="title" class="form-control"
                           placeholder="Введите должность, сферу или профессию"
                           name="search" value="" autocomplete="off">
                </div>
                <div class="flex-none">
                    <button class="btn btn-primary">Найти</button>
                </div>
                
            </form>
            <a href="{% url 'resumes' %}" class="link-dark">Ищу сотрудников</a>
        </section>
        <section>
            <div class="d-flex section-header">
                <img src="{% static 'contract/img/icons/bag.svg' %}"  class="h-icon">
                <h4>Вакансии по должностям</h4>
            </div>
            <div class="products-category-container">
                {% for category in categories_stat %}
                    {% if forloop.counter is 4 %}  <!--HIDE CONTAINER-->
                        <p>
                            <a class="link-dark" data-bs-toggle="collapse" href="#collapseExample" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                Показать все должности
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample">
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 or forloop.first %}<!--ROW-->
                        <div class="row">
                    {% endif %}
                            <div class="col">
                                <a href="/jobs?specialisation={{ category.industry_id }}">
                                    <div class="card">
                                        <div class="card-header d-flex">
                                            <img src="{% get_static_prefix %}contract/img/icons/{{ category.icon }}.svg"
                                                 class="h-icon"/>
                                            <h4>{{ category.name }}</h4>
                                        </div>
                                        <div class="card-body padding-05">
                                            <h4 class="card-title">Минимальная зп: {{ category.get_min }} ₽</h4>
                                            <p class="card-text">Вакансий: {{ category.count }}</p>

                                        </div>
                                    </div>
                                </a>
                            </div>
                    {% if forloop.counter|divisibleby:4   or  forloop.last %} <!--ROW-->
                        </div>
                    {% endif %}

                    {% if categories_stat|length > 4  %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </section>

        <section>
            {% include "../blocks/components/slider_banners_header.html" %}
        </section>

        <section>
            <div class="d-flex section-header">
                <img src="{% static 'contract/img/icons/star_shape.svg' %}" class="h-icon">
                <h4>Лучшие работодатели</h4>
            </div>
            <div class="row">
                {% for best_customer in best_customers %}
                    <div class=" col col-md-6">
                        <a href="/company/{{ best_customer.company.id }}">
                            <div class="best-customers-card text-center">
                                <div>
                                    {% if best_customer.company.logo %}
                                    <img src="{% get_media_prefix %}{{ best_customer.company.logo.logo }}"
                                         alt="{{ best_customer.company.name }}" width="80" class="company-logo-mini"
                                         height="80">
                                    {% else %}
                                        <div class="no-photo">
                                            <span>{{ best_customer.company.name|make_list|first }}</span>
                                        </div>

                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <h4 style="padding-top: 5px;">{{ best_customer.company.name }}</h4>

                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </section>

        <section>
            <div class="d-flex section-header">
                <img src="{% static 'contract/img/icons/hot.svg' %}" class="h-icon">
                <h4>Горячие вакансии</h4>
            </div>
            <div class="row">
                {% with addition_card_class=' hot-job-card horizontal-height' short=True show_company_logo=True jobs=hot_jobs col=" col-xl-4 col-lg-4 col-md-6 col-sm-12" %}
                    {% include "../blocks/components/job/job_component.html" %}
                {% endwith %}
            </div>
        </section>

        <section>
            <div class="d-flex section-header">
                <img src="{% static 'contract/img/icons/new.svg' %}" class="h-icon">
                <h4>Новые вакансии</h4>
            </div>
            <div class="row">
                {% with addition_card_class=' horizontal-height' short=True show_company_logo=True jobs=new_jobs col=' col-lg-4 col-md-6 col-sm-6 ' %}
                    {% include "../blocks/components/job/job_component.html" %}
                {% endwith %}
            </div>
        </section>

        <section>
            <div class="d-flex border-grey">
                <div >
                    <h4>Contract - это</h4>
                    <p>Contract - это задача организации, в особенности же глубокий уровень погружения выявляет срочную потребность поэтапного и последовательного развития общества. Наше дело не так однозначно, как может показаться: консультация с широким активом, в своём классическом представлении, допускает внедрение существующих финансовых и административных условий.
                        <br>
                    <br>
                        Равным образом, консультация с широким активом предопределяет высокую востребованность направлений прогрессивного развития. В частности, постоянный количественный рост и сфера нашей активности прекрасно подходит для реализации форм воздействия. С другой стороны, перспективное планирование.</p>
                </div>

            </div>
        </section>
    </div>
{% endblock content %}