{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container" x-data>
    <section x-init="initResumes()">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex" style="gap:10px;">
                    <input type="text" name="name" form='filter_form' placeholder="Название вакансии" maxlength="200"
                        class="form-control" autocomplete="off" id="id_name">
                        <button id="filter_jobs_btn" @click="application.filterResumes()" class="btn btn-primary " style="width: min-content;">Найти</button>

                </div>

                <div class="d-flex " style="margin: 15px 0px;">
                    <template x-if="$store.main.filters.name">
                        <p class="bold" x-text="'Работа - ' + $store.main.filters.name + ',  '"></p>
                    </template>
                    <p class="bold" x-text="' '  + $store.main.resumesCount+ ' резюме' "></p>

                </div>

            </div>
            <div class="col-lg-3 col-md-4">
                <h4>Фильтры поиска</h4>
                <form action="" method="get" id="filter_form" @submit.prevent="application.filterResumes()" novalidate>
                    {% for hidden_field in search_form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                    {% endfor %}
                    {% for field in search_form.visible_fields %}
                    {% if field.name != 'name' %}
                    <div class="form-field">
                        <p>{{ field.label_tag }}</p>
                        <div>
                            {{ field }}
                            {{ field.help_text }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button id="filter_jobs_btn" class="btn btn-primary width-100">Применить</button>
                </form>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 job-list" x-data>
                <template x-for="resume in $store.main.filtered_resumes" :key="resume.id + '_' + resume.invite.id">

                    <div class="card">
                        <div class="card-header"><div class="card-title d-flex">
                            <a :href="'/resumes/' +resume.id" class="title">
                                <h4 class="title" x-text="resume.name"></h4>
                            </a>
                        </div></div>
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    

                                    <h3 class="card-subtitle salary" x-text="$store.main.getResumeSalaryStr(resume)">
                                    </h3>

                                    <div class="">
                                        <a x-text="resume.display_name" class="clickable shop-name"></a>
                                    </div>
                                    <div class="card-section">
                                        <div>
                                            <span class="job-card-item-customer  work-type"
                                                x-html="$store.main.getRegionsStr(resume)"></span>
                                        </div>
                                        <div class="vacancy-description">

                                            <div class="d-flex mr-15">
                                                <span class="work-experience  mr-5 text-shadow">Опыт работы: </span>
                                                <span class="work-experience"
                                                    x-text="$store.main.getWorkExpString(resume.work_experience, false)"></span>
                                            </div>
                                            <div class="d-flex">
                                                <span class="work-experience  mr-5 text-shadow">График работы: </span>
                                                <span class="work-deposit"
                                                    x-text="$store.main.getWorkTimeString(resume.is_fulltime)"></span>
                                            </div>
                                            <div class="d-flex">
                                                <span class="work-experience  mr-5 text-shadow">Залог: </span>
                                                <span class="work-deposit"
                                                    x-text="$store.main.getDepositStr(resume)"></span>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <template x-if="resume.photo">
                                        <img :src="resume.photo" height="50" class="company-logo-mini" :style="'background-color:' + resume.photo_color"/>
                                    </template>
                                </div>
                            </div>
                            <div class="row mt-15">
                                <div class="col-10">

                                    <template x-if="$store.main.user.id>=0  && $store.main.user.is_customer">
                                        <div x-data="{res: $store.main.getResponseInviteResumeElement(resume.invite)}">

                                            <template x-if="res.element === 'link'">
                                                <a :href="res.link" class="btn btn-primary" x-text="res.text"></a>
                                            </template>
                                            <template x-if="res.element === 'status'">
                                                <div>
                                                    <p class="response-invite-result" x-text="resume.invite.msg"></p>
                                                    <p x-text="res.text"></p>
                                                </div>

                                            </template>
                                              <div class="row">
                                            <template x-if="res.element === 'form'">

                                                <template x-for="action in res.actions" :key="action.action">
                                                    <div class="col">
                                                        <template x-if="action.action !== 'create'">
                                                            <button class="btn btn-primary" :class="action.class"
                                                                x-on:click="application.sendInvite(action.action, res.id, resume.id)"
                                                                x-text="action.text"></button>
                                                        </template>
                                                        <template x-if="action.action === 'create'">
                                                            <div>
                                                                <div class="">

                                                                    <div x-data="{showInviteForm:false}">
                                                                        <div x-show="showInviteForm === true">
                                                                            <p x-text="res.text"></p>
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                    <select name="job"
                                                                                        x-model="$store.main.selectedJob"
                                                                                        class="form-control">
                                                                                        <template
                                                                                            x-for="job in $store.main.customerJobs"
                                                                                            :key="job.id">
                                                                                            <option :value="job.id"
                                                                                                x-text="job.title">
                                                                                            </option>
                                                                                        </template>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                    <button
                                                                                        class="btn btn-success mr-5 w-100 mt-15" :class="action.class"
                                                                                        x-on:click="application.sendInvite(action.action, res.id, resume.id)"
                                                                                        x-text="action.text"></button>
                                                                                </div>
                                                                                <div class="col">
                                                                                    <button
                                                                                        class="btn btn-white mr-5 w-100 mt-15"
                                                                                        x-on:click="showInviteForm = !showInviteForm">
                                                                                        Отменить
                                                                                    </button>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row"
                                                                            x-show="showInviteForm === false">
                                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                                <button
                                                                                    class="btn btn-primary mr-5 w-100 mt-15"
                                                                                    x-on:click="showInviteForm = !showInviteForm">
                                                                                    Пригласить
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </template>
                                                    </div>

                                                </template>
                                            </div>
                                            </template>
                                        </div>
                                    </template>
                                </div>
                                <div class="col-2">

                                </div>

                            </div>
                        </div>
                    </div>
                </template>
                <template x-if="$store.main.filtered_resumes">
                    <template x-if="$store.main.filtered_resumes.length < $store.main.resumesCount">
                        <div class="pagination-container flex">
                            <template x-for="paginationItem in $store.main.pagination">
                                <div :key="'pagination_' + index + '_page_' + $store.main.filters.page">
                                    <template x-if="paginationItem.active">
                                        <button @click="application.setResumesPage(paginationItem.text)"
                                            x-text="paginationItem.text+1"
                                            class="mr-5 pagination-btn active-page"></button>
                                    </template>
                                    <template x-if="!paginationItem.active">
                                        <button @click="application.setResumesPage(paginationItem.text)"
                                            x-text="paginationItem.text+1" class="mr-5 pagination-btn"></button>
                                    </template>
                                </div>


                            </template>

                        </div>
                    </template>
                </template>

            </div>
        </div>
    </section>
</div>
<script>
    const initResumes = () => {
        application.initResumes()
    }
    $(document).ready(function () {


           const application = new app()
        application.radioInputChecker("[name='work_deposit']", 1, "#id_deposit")
        application.radioMultiSelectChecker("[name='work_type']", '1', "button[for=\"region\"]", "#region")
        application.industrySpecInit()
    });
</script>
{% endblock content %}