{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block content %}

        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5  auth-form">
                    <div class="card bg-white text-black" style="border-radius: 1rem;">
                        <div class="card-body p-4">

                            <div class="">
                            <p class="form-caption">Регистрация дая поиска работы</p>
                             <form method="POST" novalidate="">
                                 {% csrf_token %}
                                {% bootstrap_form form %}
                                  <input type="submit" class="btn btn-primary btn-lg px-5 w-100" value="Зарегистрироваться">
                             </form>
                            </div>
                        </div>
                    </div>
                     <div class="card bg-white text-black" style="border-radius: 1rem;">
                        <div class="card-body p-4">

                            <div class="pb-4">
                                <p class="form-caption">Поиск сотрудников</p>
                                <a class="btn btn-white w-100" href="{% url 'customer_signup' %}">Я ищу сотрудников</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}