.profile {
  display: flex;
  padding: 24px 100px 50px;
  column-gap: 20px;
}

.profile_block {
  box-sizing: border-box;
  align-self: start;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: #fff;
}

.profile__separate-line {
  height: 1px;
  background: #eef0ff;
}

/* --- ЛЕВАЯ КОЛОНКА --- */

.profile_left-column {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__user-info {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 289px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  row-gap: 8px;
}

.profile__user-info > label:first-child {
  margin-bottom: 4px;
}

.profile__setting {
  display: flex;
  flex-direction: column;
  padding: 24px;
  row-gap: 20px;
}

.profile__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3f3f3f;
  background-image: url('../../images/profile-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

/* ----------------- */

.profile__form-container {
  width: 100%;
  padding: 40px;
}

.form-profile {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form-profile__top-container {
  display: flex;
  justify-content: space-between;
}

.form-profile__bottom-buttons-container {
  display: flex;
  column-gap: 12px;
}

/* --- ТЕКСТЫ --- */

.profile__title {
  margin: 0;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 600;
}

.profile__title_place_aside {
  text-align: center;
}

.profile__main-text {
  margin: 0;
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* --- КНОПКИ --- */

.form-top-buttons {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.form-top-buttons_type_cancel {
  padding-right: 20px;
  margin-left: auto;
  color: #a8a8a8;
}

.form-top-buttons_type_submit {
  color: #3f3f3f;
}

.form-top-buttons_type_submit-disabled {
  color: #a8a8a8;
  cursor: auto;
}

.form-profile__bottom-buttons {
  display: flex;
  width: 289px;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.form-profile__bottom-buttons_type_submit {
  border: none;
  background: #3f3f3f;
  color: white;
}

/* --- ИНПУТ --- */

.form-profile__input-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.form-profile__input {
  padding: 12px 24px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
}
