.profile {
  display: flex;
  column-gap: 20px;
  padding: 24px 100px 100px 100px;
  background-color: #F2F1EE;
}

.profile_block {
  background-color: white;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
}

.profile__separate-line {
  height: 1px;
  background: #EEF0FF;
}

/* --- ЛЕВАЯ КОЛОНКА --- */

.profile_left-column {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profile__user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 24px 45px;
}

.profile__user-info > label:first-child {
  margin-bottom: 4px;
}

.profile__setting {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 24px;
}

.profile__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../../images/profile-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21px 21px;
  background-color: #3F3F3F;
}

/* ----------------- */

.profile__form-container {
  width: 100%;
  padding: 40px;
}

.form-profile {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form-profile__top-container {
  display: flex;
  justify-content: space-between;
}

.form-profile__bottom-buttons-container {
  display: flex;
  column-gap: 12px;
}

/* --- ТЕКСТЫ --- */

.profile__title {
  color: #3F3F3F;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.profile__main-text {
  color: #3F3F3F;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
}

/* --- КНОПКИ --- */

.form-top-buttons {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.form-top-buttons_type_cansel {
  margin-left: auto;
  padding-right: 20px;
  color: #A8A8A8;
}

.form-top-buttons_type_submit {
  color: #3F3F3F
}

.form-profile__bottom-buttons {
  width: 289px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C6C6C6;
  background: #F2F1EE;
  border-radius: 12px;
  padding: 20px 40px;
  cursor: pointer;
}

.form-profile__bottom-buttons_type_submit {
  background: #3F3F3F;
  border: none;
  color: white;
}

/* --- ИНПУТ --- */

.form-profile__input-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.form-profile__input {
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid #C6C6C6;
}
