.login__wrapper {
  width: 100%;
  margin: 0 auto;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
}

.login__title {
  margin: 0 0 8px;
  color: #3f3f3f;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
