{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load django_bootstrap5 %}

  <script src="{% static 'contract/js/bootstrap.min.js' %}"></script>

  <link href="{% static 'contract/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'contract/css/base.css' %}" rel="stylesheet" />
  {% with request.resolver_match.url_name as url_name %}

  {% if url_name == 'chat' or url_name == 'chat_main' %}
  <link href="{% static 'contract/css/chat.css' %}" rel="stylesheet" />
  {% endif %}
  {% endwith %}
  <title>Поиск сотрудников, работы</title>

  <script src="{% static 'contract/ckeditor/ckeditor-init.js' %}"></script>
  <script src="{% static 'contract/js/jquery.js' %}"></script>
  <script src="{% static 'contract/js/main.js' %}"></script>
</head>

<body>
	  {% bootstrap_messages %}
  {% include "./blocks/header.html" %}
  <div class="flex-1 ">


    {% block content %}{% endblock content %}
  </div>
  {% with request.resolver_match.url_name as url_name %}

  {% if url_name == 'chat' or url_name == 'chat_main' %}
  <link href="{% static 'contract/css/chat.css' %}" rel="stylesheet" />
  {% endif %}
  {% endwith %}
  <div class="modal" id="error-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            id="notofyModalOkButton">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Modal content
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="notofyModalOkButton" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="сonfiremationModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Modal content
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn-primary" id="confOkButton">Подтвердить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  {% include "./blocks/footer.html" %}
  {% csrf_token %}
  <script src="{% static 'contract/js/alpine.js' %}" defer></script>
  <script src="{% static 'contract/js/app.js' %}"></script>
  <script src="{% static 'contract/js/chat.js' %}"></script>
  <script>
    var messages_success = '{{messages_success}}'
    document.messages_success = messages_success
    var messages_error = '{{messages_error}}'
    document.messages_error = messages_error
    document.addEventListener('alpine:init', async () => {
      application = new alpineApp()
      application.getCounters()
      application.initPositiveCheck()
    })
    
  </script>
</body>

</html>