{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load django_bootstrap5 %}
    {% bootstrap_messages %}
    {% load static %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/chat.css' %}" rel="stylesheet"/>
    <title>Поиск сотрудников, работы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{% static './ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static './js/jquery.js' %}"></script>
    <script src="{% static './js/main.js' %}"></script>
</head>
<body>
    {% include "./blocks/header.html"  %}
    {% block content %}{% endblock content %}
    {% include "./blocks/footer.html"  %}
</body>

</html>