{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load django_bootstrap5 %}
{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-white text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mt-md-4 pb-5">
                            <div class="text-center mb-5">
                                <img src="{% static "img/logo.png" %}" class="rounded" alt="...">
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="captcha">
                                    <img id="captcha-img" src="data:image/png;base64, {{ captcha }}">
                                </div>
                                <input type="hidden" name="ref" value="">
                                <input type="hidden" name="hashkey" value="{{ hashkey }}">
                                <div class="mb-3">
                                    <label class="form-label" for="id_username">Введите капчу</label>
                                    <input type="text" name="captcha" autofocus="" autocapitalize="none" class="form-control" placeholder="captcha" required="" id="id_captcha">
                                </div>
                                <button class="btn btn-primary btn-lg px-5 w-100" type="submit">Войти</button>
                            </form>
                            <p class="text-center">Зарегистрироваться как <br><a href="/signup/customer">работодатель</a><br><a href="/signup/worker">соискатель</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}