{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="shop_main user-profile profile-header">
            <div class="container">
                {% include "./blocks/components/slider_banners_header.html" %}
                <div class="shop_panel">
                    <div class="shop_panel_info">
                        <div class="shop_panel_img">
                            <img src="../media/{{user.photo }}" loading="lazy">
                        </div>
                        <div class="shop_panel_title">
                            <p class="shop_title">
                                {{ user.login }}
                                <span class="user-profile__delimiter">|</span>
                                <span class="user-profile__title">Соискатель</span>
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/profile/main">Профиль пользователя</a>
                    </li>
                    {% if user.is_worker %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/resume">Резюме</a>
                        </li>
                    {% endif %}
                    {% if user.is_customer %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/job">Вакансии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/company">Компания</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/contact">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/wallet">btc wallet</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="finance">
            <div class="container">
                <div class="settings">
                    {% block profile_content %}{% endblock profile_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}