{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-white text-black" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mt-md-4 pb-5">
                                <div class="text-center mb-5">
                                    <img src="{% static "img/logo.png" %}" class="rounded" alt="...">
                                </div>
                                <form method="POST" novalidate>
                                    {% csrf_token %}
                                    <h2>Sign Up</h2>
                                    {{ form.as_p }}

                                    <div class="captcha">
                                        <img id="captcha-img" src="data:image/png;base64, {{ captcha }}">
                                    </div>
                                    <input type="hidden" name="ref" value="">
                                    <input type="hidden" name="hashkey" value="{{ hashkey }}">
                                    <div class="input-group">
                                        <input type="text" placeholder="**" class="login-input" name="captcha"
                                               required="" autofocus="" style="text-transform:uppercase">
                                        <span class="floating-label">Введите капчу</span>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg px-5 w-100" value="Register"/>
                                </form>
                                <p class="text-center">Зарегистрироваться как <br><a href="/signup/customer">работодатель</a><br><a
                                        href="/signup/worker">соискатель</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}