   <footer class="footer-container-main">
        <div class="container">
            <div class="footer-container-child">
                    <div class="footer-block">
                        <span class="footer-title">Соискателям</span>
                        <a href="/profile" class="footer-link">Аккаунт пользователя </a>
                        <a href="/profile/resume" class="footer-link">Размещение резюме</a>
                        <a href="/vacancies" class="footer-link">Поиск по вакансиям</a>
                        <a href="/worker_help" class="footer-link">Руководство соискателя</a>
                    </div>
                    <div class="footer-block">
                        <span class="footer-title">Работодателям</span>
                        <a href="/" class="footer-link">Условия размещения</a>
                        <a href="/" class="footer-link">Прайс лист</a>
                        <a href="/" class="footer-link">Страница сервиса</a>
                        <a href="/" class="footer-link">Размещение вакансии</a>
                        <a href="/" class="footer-link">Руководство работодателя</a>
                    </div>
                    <div class="footer-block">
                        <span class="footer-title">Информация</span>
                        <a href="/" class="footer-link">Зеркала</a>
                        <a href="/" class="footer-link">Правила проекта</a>
                        <a href="/" class="footer-link">ИНовости</a>
                        <a href="/" class="footer-link">Отправить жалобу</a>
                        <a href="/" class="footer-link">Наши контакты</a>
                        <a href="/" class="footer-link">roadmap</a>
                    </div>
                    <div class="footer-block">
                        <span class="footer-title">Контакты</span>
                        <a href="/" class="footer-link">Телеграм</a>
                        <a href="/" class="footer-link">Рутор</a>
                        <a href="/" class="footer-link">ВейВей</a>
                        <a href="/" class="footer-link">Пасаремос</a>
                    </div>
                </div>
            </div>
        </footer>