<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3"></div>
        {% for category in categories %}
            <div class="col mb-3">
                <h5>{{ category.title }}</h5>
                <ul class="nav flex-column">
                    {% for cat_article in articles %}
                        {% if cat_article.category == category %}
                            <li class="nav-item mb-2">
                                {% if cat_article.is_contact %}
                                    <a href="{{ cat_article.get_link }}"
                                   class="nav-link p-0 text-muted" target="_blank">
                                {% else %}
                                    <a href="{{ cat_article.get_link }}"
                                   class="nav-link p-0 text-muted">
                                {% endif %}

                                    {% if cat_article.photo %}
                                        <img src='../media/{{  cat_article.photo  }}' height="30" alt="{{ cat_article.get_link }}"/>
                                    {% endif %}
                                    {{ cat_article.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </footer>
</div>

