{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand p-t-0 mt-lg-0" href="/">
                    <img
                            src="{% static "contract/img/logo-big.svg" %}"
                            height="50"
                            alt="Contract Logo"
                            loading="lazy"
                    />
                </a>
                {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'worker_signin' %}active{% endif %}" href="{% url 'worker_signin' %}">Соискателям</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'customer_signin' %}active{% endif %}" href="{% url 'customer_signin' %}">Работодателям</a>
                    </li>
                    {% if user.is_customer %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'resumes' %}active{% endif %}" href="{% url 'resumes' %}">Поиск по базе резюме</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'chat' %}active{% endif %}" href="{% url 'chat_main' %}">Чат</a>
                        </li>
                    {% endif %}
                </ul>
                {% endwith %}
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.login %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.login }}
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-end dropdown-menu-lg-start"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'profile_main' %}">Профиль</a></li>

                                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти </a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary p-l-r-40" href="{% url 'worker_signin' %}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Right elements -->
        </div>
    </nav>

</div>