<header class="header-main">
    <div class="container">
        <div class="header-container-child">
            <div class="header-left">
                <div class="logo">
                    <a href="/" class="logo">
                     <img src="../static/img/logo.png">
                    </a>
                </div>

                <div class="navigation">
                    <div class="menu-links">
                        <a href="/" class="">Соискателям</a>
                        <a href="/resumes" class="">Работодателям</a>
                    </div>
                </div>

            </div>
            {% include "./profile_header.html"  %}
            {% include "./profile_header_mob.html"  %}
        </div>
    </div>
</header>