{% load static %}

<div class="container" x-data>
    <nav class="navbar navbar-expand-md navbar-light bg-body-tertiary" style="min-width: 370px">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand p-t-0 mt-lg-0" href="/">
                    <img
                            src="{% static "contract/img/logo-big.svg" %}"
                            height="50"
                            alt="Contract Logo"
                            loading="lazy"
                    />
                </a>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_customer %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'resumes' %}active{% endif %}"
                                   href="{% url 'resumes' %}">Поиск по базе резюме</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link {% if url_name == 'candidats_page' %}active{% endif %}"
                                   href="{% url 'candidats_page' %}">
                                    Кандидаты
                                    <template x-if="$store.main.counters && $store.main.counters.ri.length">
                                        <span class="counter-text" x-text="$store.main.counters.ri.length"></span>
                                    </template>

                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_worker %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'profile_resume' %}active{% endif %}"
                                   href="{% url 'profile_resumes' %}">
                                    Моё резюме
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link {% if url_name == 'responses_invites_page' %}active{% endif %}"
                                   href="{% url 'responses_invites_page' %}">
                                    Приглашения
                                    <template x-if="$store.main.counters && $store.main.counters.ri.length">
                                        <span class="counter-text" x-text="$store.main.counters.ri.length"></span>
                                    </template>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                {% else %}
                    {% with request.resolver_match.url_name as url_name %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'index' %}active{% endif %}"
                                   href="{% url 'index' %}">Соискателям</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'for_customers' %}active{% endif %}"
                                   href="{% url 'for_customers' %}">Работодателям</a>
                            </li>

                        </ul>
                    {% endwith %}
                {% endif %}

            </div>

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fl-d-row head-right-row">
                    {% if user.is_authenticated %}
                        {% if user.is_customer %}
                            <li class="nav-item balance-header">
                                <p class="balance" x-init="application.getBalance()" x-text="$store.main.balance"></p>
                            </li>
                        {% endif %}
                        {% if user.is_worker %}
                            <li class="nav-item">
                                <a class="nav-link {% if url_name == 'favorite_jobs_main' %}active{% endif %}"
                                   href="{% url 'favorite_jobs_main' %}">
                                    <img src="{% static 'contract/img/icons/heart-empty.svg' %}" height="20">
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'chat' %}active{% endif %}"
                               href="{% url 'chat_main' %}">
                                <img src="{% static 'contract/img/icons/vector.svg' %}" height="20">
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.login }}
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-end dropdown-menu-lg-start"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'profile_main' %}">Профиль</a></li>

                                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти </a></li>
                            </ul>
                        </li>
                    {% else %}
                        {% with request.resolver_match.url_name as url_name %}

                          <li class="nav-item">
                            <a class="btn btn-white  nowrap" href="{% url 'worker_signup' %}">Создать резюме</a>
                        </li>

                        {% if url_name == 'for_customer' %}
                          <li class="nav-item">
                            <a class="btn btn-white nowrap" href="{% url 'customer_signup' %}">Создать вакансию</a>
                        </li>
                         {% endif %}
                        {% endwith %}
                        <li class="nav-item">
                            <a class="btn btn-primary p-l-r-40" href="{% url 'worker_signin' %}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Right elements -->
        </div>
    </nav>

</div>