.page {
  text-align: center;
  min-height: calc(100vh - 240px);
  margin-top: 80px;
}

.title {
  color: #000;
  font-size: 32px;
}

.backLink {
  color: #000;
  font-size: 24px;
  text-decoration: underline;
}
