.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 240px);
  margin-top: 108px;
  width: 100%;
}

.titleErr {
  margin: 0;
  color: #3F3F3F;
  font-family: 'Overpass Mono', monospace;
  font-size: 180px;
  font-weight: 500;
  line-height: 1;
}

.subtitleErr {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #606060;
  margin: 0 0 8px;
  text-align: center;
}

.descriptionErr {
  margin: 0 0 48px;
  color: #606060;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.backLink {
  color: #000;
  font-size: 24px;
  opacity: 0.8;
}
