.orderCards {
  margin: 20px 0 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.orderCard {
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #c6c6c6;
}

.orderCard__avatar-container {
  display: flex;
  flex-direction: row;
}

.orderCard__avatar {
 margin-right: 12px;
}

.orderCard__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderCard__title {
  margin: 0;
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.orderCard__direction {
  margin: 8px 0 0;
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orderCard__price {
  margin: 0;
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.orderCard__description {
  margin: 12px 0 0;
  color: #606060;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orderCard__tag-container {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.orderCard__tag {
  margin: 0;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #606060;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orderCard__client {
  margin: 20px 0 8px;
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orderCard__respond-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.orderCard__respond-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 8px 14px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #c6c6c6;
  background: #f2f1ee;
}
