.order {
  flex-direction: column;
}

.order_block {
  display: flex;
  column-gap: 32px;
}

.left-column {
  width: 100%;
}

.order__back-container {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  color: #3F3F3F;
  font-size: 16px;
  text-decoration-line: underline;
  margin: 0 0 20px 0;
}

.order__back {
  background-image: url(../../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 12px 0 0;
}

.order__list {
  display: flex;
  column-gap: 8px;
  padding: 0;
  list-style: none;
}

.order__list-item {
  padding: 8px 16px;
  outline: 1px solid #C6C6C6;
  border-radius: 8px;
  color: #3F3F3F;
}

.order__customer-container {
  display: flex;
  column-gap: 20px;
}

.order__client-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #C6C6C6;
}

.order__client-text {
  color: #7B7B7B;
}

.form-profile__bottom-buttons-hide {
  display: none;
}
