.order {
  flex-direction: column;
}

.order_block {
  display: flex;
  column-gap: 32px;
}

.left-column {
  width: 100%;
}

.order__back-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px;
  color: #3f3f3f;
  font-size: 16px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.order__back {
  width: 24px;
  height: 24px;
  padding: 0 12px 0 0;
  background-image: url('../../images/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.order__list {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 8px;
  list-style: none;
}

.order__list-item {
  padding: 8px 16px;
  border-radius: 8px;
  color: #3f3f3f;
  outline: 1px solid #c6c6c6;
}

.order__customer-container {
  display: flex;
  column-gap: 20px;
}

.order__client-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #c6c6c6;
}

.order__client-text {
  color: #7b7b7b;
}

.form-profile__bottom-buttons-hide {
  display: none;
}
