.filters {
  max-width: 289px;
  margin-top: 148px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: #fff;
  gap: 18px;
}

.filters-container__budget {
  margin: 20px 0;
}

.filters-container__title {
  margin: 0;
  color: #606060;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.filters-checkbox__item {
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.filters-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filters-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filters-checkbox + label::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: '';
}

/* стили для чекбокса, находящегося в состоянии checked */
.filters-checkbox:checked + label::before {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url('../../images/check1.svg');
  background-size: cover;
}

.filters-buttons {
  display: flex;
  min-height: 118px;
  flex-direction: column;
  justify-content: space-between;
}

.filters-form-budget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters-budget {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 12px 20px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  gap: 8px;
}

.filters-conteiner__freelance {
  display: none;
}
