.operation-mode {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.operation-mode__button {
  width: 50%;
  height: 52px;
  border-radius: 10px;
  background-color: #f2f1ee;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  color: #7b7b7b;
  cursor: pointer;
  border: none;
}

.operation-mode__button_freelance {
}

.operation-mode__button_action {
  background: #fff;
  color: #3f3f3f;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}
