.forgotPass {
  max-width: 612px;
}

.forgotPass__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPass__inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.forgotPass__text {
  color: #585858;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 20px;
}
