.button {
  display: flex;
  width: 400px;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 6px 28px;
  border: none;
  border-radius: 12px;
  background-color: #3f3f3f;
  cursor: pointer;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 4px 4px 0 0 #c6c6c6;
}

.button:active {
  background-color: #eee;
}

.button:focus {
  box-shadow: 4px 4px 0 0 #c6c6c6;
  outline: none;
}

.button_type_disabled {
  background-color: #b3b3b3;
  color: #3f3f3f;
  cursor: default;
}

.button_type_disabled:hover {
  box-shadow: none;
}

.button_type_disabled:active {
  background-color: #b3b3b3;
}

.button_type_secondary {
  padding: 0;
  border: 1px solid #c6c6c6;
  background-color: #f7f7f7;
}

.button_color_black {
  border: none;
  background-color: transparent;
}

.button_color_black:hover {
  box-shadow: none;
  opacity: 0.4;
}

.button_color_white {
  background-color: #fff;
}

.button__text {
  margin: 0;
  color: #fff;
  text-align: center;
}

.button:active>.button__text {
  color: #3f3f3f;
}

.button_type_disabled:active>.button__text {
  color: #fff;
}

.button_type_secondary__text {
  color: #3f3f3f;
}

.button_color_black__text {
  color: #fff;
}

.button__header-auth_entry-button {
  overflow: hidden;
  width: 103px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 6px 28px;
  border: 0;
  border-radius: 10px;
  margin-left: 40px;
  background: #fff;
  color: #606060;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

