.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 52px;
  padding: 6px 28px;
  border: none;
  border-radius: 12px;
  background-color: #3f3f3f;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 4px 4px 0 0 #C6C6C6;
}

.button:active {
  background-color: #eee;
}

.button:disabled {
  background-color: #b3b3b3;
  cursor: default;
}

.button:disabled:hover {
  box-shadow: none;
}

.buttonDisabled{
  background-color: #B3B3B3;
  color: #3F3F3F;
}

.buttonSecondary {
  border: 1px solid #c6c6c6;
  background-color: #f2f1ee;
  padding: 0;
}

.buttonBlack {
  background-color: #000;
  border: none;
}

.buttonWhite {
  background-color: #FFF;
}

.button__text {
  margin: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.button:active > .button__text {
  color: #3f3f3f;
}

.buttonSecondary__text {
  color: #3f3f3f;
}

.buttonBlack__text {
  color: #fff;
}
