.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 52px;
  padding: 6px 28px;
  border: none;
  border-radius: 12px;
  background-color: #3F3F3F;
  line-height: 1.5;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 4px 4px 0 0 #C6C6C6;
}

.button:active {
  background-color: #EEE;
}

.button:disabled {
  background-color: #B3B3B3;
  cursor: default;
}

.button:disabled:hover {
  box-shadow: none;
}

.buttonSecondary {
  border: 1px solid #C6C6C6;
  background-color: #F2F1EE;
}

.button__text {
  margin: 0;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

.button:active > .button__text {
  color: #3F3F3F;
}

.buttonSecondary__text {
  color: #3F3F3F;
}
