.tags-input-container{
  border: 1px solid #292D32;
  padding: .5em;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-item{
  border: 1px solid #292D32;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
}

.text {
  color: #888;
  font-size: 16px;
  font-weight: 400;
}

.close {
  color: #292D32;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input{
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none;
  color: #292D32;
  font-size: 20px;
  font-weight: 400;
}
