.header {
  height: 80px;
  background-color: inherit;
  font-family: 'Roboto Mono';
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;

}

.header__container {
  height: 100%;
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/new-logo.svg);
  background-position: center;
  border: none;
  border-radius: 5px;
  width: 96px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
}

.header__userInfo {
  display: flex;
}
