.header {
  position: relative;
  border-radius: 12px;
  margin: 14px 76px 0;
  background-color: transparent;
}

.header__container {
  display: flex;
  min-height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header-with-background {
  background-color: #3f3f3f;
}

.header__logo {
  display: flex;
  width: 96px;
  height: 32px;
  align-items: center;
  border: none;
  background-color: transparent;
  background-image: url('../../images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
}

.header__logo-black {
  background-image: url('../../images/logo-black.svg');
}

.header__user-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.header__name {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.header__name_dark {
  color: #3f3f3f;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__popup {
  position: absolute;
  z-index: -5;
  right: 25px;
  display: flex;
  width: 295px;
  height: 160px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px 0 0;
  box-shadow: 1px 1px 1px grey;
  opacity: 0;
  row-gap: 32px;
}

.profile__popup_show {
  z-index: 5;
  opacity: 1;
}
