.header {
  height: 80px;
}

.header__container {
  margin: auto;
  padding: 20px 100px 0;
  max-width: 1540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/new-logo.svg);
  background-position: center;
  border: none;
  border-radius: 5px;
  width: 96px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
}

.header__userInfo {
  display: flex;
}
