.header {
  background-color: transparent;
  margin: 16px 76px 0 76px;
  border-radius: 12px;
  position: relative;
}

.header__container {
  padding: 0 24px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-with-background {
  background-color: #3F3F3F;
}

.header__logo {
  display: flex;
  align-items: center;
  border: none;
  width: 96px;
  height: 32px;
  cursor: pointer;
  background-image: url(../../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #ffffff;
}

.header__logoBlack {
  background-image: url(../../images/logo-black.svg);
  background-position: center;
  border: none;
  border-radius: 5px;
  width: 96px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.header__logo-black {
  background-image: url(../../images/logo-black.svg);
}

.header__userInfo {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.header__name {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50px;
}

.profile__popup {
  position: absolute;
  right: 25px;
  width: 295px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  row-gap: 32px;
  box-shadow: 1px 1px 1px grey;
  opacity: 0;
  z-index: -5;
  margin: 4px 0 0 0;
}

.profile__popup_show {
  opacity: 1;
  z-index: 5;
}

.profile__popup-signout {
  border: none;
  background-color: white;
  cursor: pointer;
}
