.list__container {
  display: flex;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  align-items: center;
  padding: 11px 23px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background-color: #fff;
  background-image: url('../../../images/arrow-down.svg');
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  color: #3f3f3f;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: box-shadow 0.3s ease-in-out;
}

.list__container-open {
  position: relative;
}

.list__container:focus {
  box-shadow: 2px 2px 0 0 #c6c6c6;
  outline: none;
}

.list__container:hover:not(:disabled) {
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.list__preview {
  display: none;
  color: #7b7b7b;
}

.list__preview_show {
  display: block;
}

.list__value {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  gap: 8px;
}

.list__title {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  column-gap: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
}

.list__item-close {
  width: 12px;
  height: 12px;
  background-image: url('../../../images/close-button.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.list__options {
  position: absolute;
  z-index: 5;
  top: calc(100% + 12px);
  left: 0;
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 0;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  margin: 0;
  background-color: white;
  list-style: none;
}

.list__options_show {
  display: block;
}

.list__option {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 24px;
  column-gap: 16px;
  cursor: pointer;
}

.list__option-highlighted {
  background-color: #f7f7f7;
}

.list__checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
}

.list__checkbox-highlighted {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
  background-image: url('../../../images/check.svg');
  background-position: center center;
  background-repeat: no-repeat;
}
