.tags {
  display: flex;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.tags:hover {
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.tags:has(input:focus) {
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.tags_disabled:hover {
  box-shadow: none;
}

.tag__input {
  width: 100%;
  border: none;
  background-color: inherit;
  color: #292d32;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.tag__title {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  column-gap: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
}

.tag__title_disabled {
  cursor: default;
}

.tag__item-close {
  width: 12px;
  height: 12px;
  background-image: url('../../../images/close-button.svg');
  background-position: center center;
  background-repeat: no-repeat;
}
