.create-task-form {
  max-width: 610px;
  margin: 0 auto;
}

.create-task-form__image-input {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.create-task-form__input-text {
  margin: 32px 0 16px;
  color: #3F3F3F;
  font-size: 16px;
  line-height: 1.25;
}

.create-task-form__contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px 16px;
}

.create-task-form__input-checkbox-text {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 8px;
  color: #7B7B7B;
}

.create-task-form__input-checkbox-text:hover {
  cursor: pointer;
}

.create-task-form__input-checkbox {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #C6C6C6;
  border-radius: 8px;
  background-color: #FFF;
  appearance: none;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.create-task-form__input-checkbox:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
  cursor: pointer;
}

.create-task-form__input-checkbox:checked {
  background: #3F3F3F url(../../../images/check.svg) no-repeat center / 14px;
}

.create-task-form__input-doc-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.create-task-form__input-year-wrapper {
  display: flex;
  justify-content: space-between;
}
