.login {
  max-width: 612px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login__forgot-link {
  margin: 14px 0 46px;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: end;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  transition: all 0.2s ease-in-out;
}

.login__forgot-link:hover {
  opacity: 0.8;
}

.login__footer-link-container {
  display: flex;
  align-items: center;
  margin: 24px 0 110px;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__footer-link-description {
  margin: 0 12px 0 0;
}

.login__footer-link {
  color: #3f3f3f;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.2s ease-in-out;
}

.login__footer-link:hover {
  opacity: 0.8;
}
