.layout__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.layout__wrapper_type_background-image {
  background-image: url('../images/background_main_page.png');
  background-size: contain;
}

.layout__outlet {
  width: 100%;
  margin: 0 auto;
}

.layout__wrapper_type_background-image-none {
  background-image: none;
}
