.wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.outlet{
    
}