.order-card {
  padding: 24px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  margin: 0;
  background-color: #fff;
}

.order-card__avatar-container {
  display: flex;
  flex-direction: row;
}

.order-card__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: #d9d9d9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-card__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-card__title {
  margin: 0;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.order-card__direction {
  margin: 4px 0 0;
  color: #7b7b7b;
  font-size: 16px;
  line-height: 1.25;
}

.order-card__price {
  margin: 0;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.order-card__description {
  /* max-height: 48px; */
  margin: 12px 0 0;
  color: #3f3f3f;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;

  /* text-overflow: ellipsis; */

  /* overflow: hidden; */

  /* white-space: nowrap; */
}

.order-card__tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
  gap: 8px;
}

.order-card__tag {
  padding: 8px 16px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  margin: 0;
  color: #3f3f3f;
  font-size: 16px;
  line-height: 1.25;
}

.order-card__client {
  margin: 20px 0 8px;
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-card__respond-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.order-card__respond-button {
  align-items: center;
  justify-content: flex-end;
  padding: 8px 14px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
