.select {
  width: 610px;
  box-sizing: border-box;
  padding: 19px 51px 19px 19px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  appearance: none;
  background: #fff url('../../../images/arrow-down.svg') no-repeat calc(100% - 19px) center / 24px;
  color: #3f3f3f;
  font-size: 16px;
  line-height: 1.25;
  transition:
    box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.select-container {
  position: relative;
}

.select_type_placeholder {
  color: #7b7b7b;
}

.select_type_error {
  border: 1px solid #eb5757;
}

.select:disabled {
  opacity: 1;
}

.select:focus {
  box-shadow: 2px 2px 0 0 #c6c6c6;
  outline: none;
}

.select:hover:not(:disabled) {
  box-shadow: 2px 2px 0 0 #c6c6c6;
  cursor: pointer;
}
