.profile__left-column-info {
  display: flex;
  width: 289px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 24px;
  row-gap: 20px;
}

.profile__info-main-text {
  margin-top: 8px;
  color: #7b7b7b;
}

.profile_right-column {
  display: flex;
  width: 100%;
  max-width: 913px;
  flex-direction: column;
  padding: 28px 24px;
  row-gap: 24px;
}

.profile__file-container {
  display: flex;
  column-gap: 8px;
}

.profile__file {
  width: 140px;
  height: 140px;
  border-radius: 12px;
  background-color: #c6c6c6;
}

.profile__specialization {
  color: #7b7b7b;
}

.popup__title {
  margin-bottom: 40px;
  text-align: center;
}

.popup__main-text {
  max-width: 470px;
  margin-bottom: 12px;
  text-align: center;
}
