.profile__left-column-info {
  display: flex;
  width: 289px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 24px;
  row-gap: 20px;
}

.profile__info-main-text {
  margin-top: 8px;
  color: #7b7b7b;
}

.profile_right-column {
  display: flex;
  width: 100%;
  max-width: 913px;
  flex-direction: column;
  padding: 28px 24px;
  row-gap: 24px;
}

.profile__file-container {
  display: flex;
  column-gap: 8px;
}

.profile__file {
  width: 140px;
  height: 140px;
  border-radius: 12px;
  background-color: #c6c6c6;
}

.profile__specialization {
  color: #7b7b7b;
}

.popup__title {
  margin-bottom: 40px;
  text-align: center;
}

.popup__main-text {
  max-width: 470px;
  margin-bottom: 12px;
  text-align: center;
}

.message-popup {
  top: 455px;
  width: 614px;
  height: 628px;
  justify-content: unset;
}

.message-popup__user-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-message {
  width: 534px;
}

.form-message__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  appearance: none;
  background-color: #fff;
  background-image: url('../../../images/close-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.popup-message__image {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 24px;
  background-image: url('../../../images/checkIcon.svg');
}

.popup-message__button-to-message {
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background-color: #f7f7f7;
  color: black;
}

.popup-message__button-to-freelancers {
  background-color: #3f3f3f;
  color: white;
}
