.search {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: transparent;
}

.search__container {
  display: flex;
  min-height: 60px;
  align-items: center;
  padding: 0 24px;
}

.search__button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.search__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  margin-left: 12px;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  outline: none;
}

.search__search-image {
  width: 16px;
  height: 16px;
  background-clip: border-box;
  background-image: url('../../images/magnifyingGlass.svg');
  background-size: contain;
}
