<div class="finance">
    <div class="container">
        <div class="finance_wrap">




            <p class="finance_title">Мои финансы</p>
            <p class="finance_price">На вашем счету: <strong>715.79 ₽ / </strong>
                <strong>0.00020700 BTC</strong></p>
            <p class="finance_text">Идентификатор биткоин кошелька является вашим уникальным идентификатором для отправки и получения денежных средств.
                Он полностью уникален для вас, и именно его вам стоит использовать для пополнения баланса.
                Или вы можете приобрести BTC при помощи обычной банковской карты известных платежных систем у нас на сайте в специально отведенном разделе — «Обмен».</p>
            <form action="/exchange/" method="get" class="finance_form">
                <div class="finance_form_box">
                    <p class="finance_label">Для пополнения баланса переведите BTC на адрес:</p>
                    <input type="text" class="finance_input" placeholder="BTC" name="wallet" value="bc1qp7yjwla2pmqycfs29ztrzlccswndyjxx76f6h9">
                </div>
                <div class="finance_form_box">
                    <p class="finance_label">Или обменяйте в любом из наших обменников:</p>
                    <div class="finance_form_box_btns">
                        <button type="submit" class="finance_btn">Купить Bitcoin</button>
                        <a href="/deposit-coupons/" class="finance_btn empty">Активировать купон</a>

                    </div>
                </div>
            </form>
        </div>

        <div class="decor_bottom_wrap">
            <div class="decor_bottom_table">
                <div class="decor_table_title">
                    <p>Дата</p>
                    <p>Сумма</p>
                    <p>Примечание</p>
                </div>

                    <div class="decor_table_item">
                        <p data-label="Дата">22.01.2024 в 17:53</p>
                        <p data-label="Сумма">0.00048506 BTC</p>
                        <p data-label="Примечание" class="table_text">
                            <span>Заморозка средств для оплаты заказа #NWON-2218-QNSH-9689</span>
                        </p>
                    </div>

                    <div class="decor_table_item">
                        <p data-label="Дата">22.01.2024 в 11:09</p>
                        <p data-label="Сумма">0.00069206 BTC</p>
                        <p data-label="Примечание" class="table_text">
                            <span>Возврат средств в результате диспута по заказу #RPVA-4321-HNMZ-2887</span>
                        </p>
                    </div>

                    <div class="decor_table_item">
                        <p data-label="Дата">22.01.2024 в 09:53</p>
                        <p data-label="Сумма">0.00033296 BTC</p>
                        <p data-label="Примечание" class="table_text">
                            <span>Оплата заказа #PCBF-7999-TNKI-7517</span>
                        </p>
                    </div>

                    <div class="decor_table_item">
                        <p data-label="Дата">21.01.2024 в 09:49</p>
                        <p data-label="Сумма">0.00033296 BTC</p>
                        <p data-label="Примечание" class="table_text">
                            <span>Заморозка средств для заказа #PCBF-7999-TNKI-7517</span>
                        </p>
                    </div>

                    <div class="decor_table_item">
                        <p data-label="Дата">20.01.2024 в 21:47</p>
                        <p data-label="Сумма">0.00069206 BTC</p>
                        <p data-label="Примечание" class="table_text">
                            <span>Заморозка средств для заказа #RPVA-4321-HNMZ-2887</span>
                        </p>
                    </div>






            </div>
        </div>
    </div>
</div>