{% extends "profile.html" %}
{% block profile_content %}
    {% load django_bootstrap5 %}
    <h1 class="my_order_title">Мои резюме</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
         {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
         {% endfor %}
     <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
  </table>
        <input type="submit" value="Добавить"/>
    </form>

    <div class="list-group">
        {% for resume in resumes %}

            <a href="/profile/resume/{{ resume.id }}"
               class="list-group-item list-group-item-action">{{ resume.name }}</a>

        {% endfor %}

    </div>
{% endblock profile_content %}