{% extends "profile.html" %}
{% block profile_content %}
    {% load django_bootstrap5 %}
    <h1 class="my_order_title">Мои резюме</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Добавить"/>
    </form>

    <div class="list-group">
        {% for contact in contacts %}

            <a href="/profile/resume/{{ resume.id }}"
               class="list-group-item list-group-item-action">{{ resume.name }}</a>

        {% endfor %}

    </div>
{% endblock profile_content %}