{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <section>
        <h1 class="my_order_title">Редактировать резюме</h1>
        <form action="" method="post"  enctype="multipart/form-data" novalidate>
        {{ form.media }}
        <div>
            
        {% for field in form.visible_fields %}
            <div class="row form-item">
                <div class="col-xl-3 col-md-3 col-sm-4 form-item-label">
                    {{ field.label_tag }}
                </div>
                <div class="col-xl-9 col-md-9 col-sm-8">
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help_text }}
                </div>
            </div>
           
      
        
        {% endfor %}
       
    </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <input type="submit" value="Создать"/>
        </form>

    </section>
</div>
<script>

$(document).ready(function () {
            const application = new app()
            application.radioMultiSelectChecker("[name='is_offline']", 'True', "button[for=\"region\"]", "#region")
        });
</script>
{% endblock content %}