<div class="container">
    <div class="my_order">
        <h1 class="my_order_title">Мои контакт</h1>
        <form action="" method="post" >
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {% if field.is_hidden == False  %}
                {{field.label_tag}}
                {% endif %}
                <div>{{field}}</div>
                <div class="error">{{field.errors}}</div>
            </div>
            {% endfor %}
            <input type="submit" value="Send" />
        </form>
     </div>
</div>