<div class="container">
    <div class="my_order">
        <h1 class="my_order_title">Мои контакты</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in new_entity_form %}
            <div class="form-group">
                {% if field.is_hidden == False  %}
                {{field.label_tag}}
                {% endif %}
                <div>{{field}}</div>
                <div class="error">{{field.errors}}</div>
            </div>
            {% endfor %}
            <input type="submit" value="Send" />
        </form>
        <div class="my_order_table">
            <ul>
            {% for contact in contacts %}
                <li>
                <a href="/profile/contact/{{contact.id}}">{{contact.value}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
     </div>
</div>