{% extends "profile.html" %}
{% block profile_content %}
    {% load django_bootstrap5 %}
    <h1 class="my_order_title">Мои jobs</h1>
    <form action="" method="post"  enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Добавить"/>
    </form>
    <div class="list-group">
        {% for job in jobs %}

            <a href="/profile/jobs/{{ job.id }}"
               class="list-group-item list-group-item-action">{{ job.title }}</a>

        {% endfor %}

    </div>

{% endblock profile_content %}