.input-doc__real-input {
  position: relative;
  display: grid;
  grid-template-rows: 2.2fr 1fr;
  align-items: end;
  width: 140px;
  height: 140px;
  border-radius: 12px;
  background-color: #C6C6C6;
  transition: all .3s;
  cursor: pointer;
}

.input-doc__real-input:hover {
  background-color: #d0d0d0;
}

.input-doc__real-input_uploaded {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2C2C2;
}

.input-doc__real-input_uploaded:hover {
  background-color: #C2C2C2;
  cursor: default;
}

.input-doc__fake-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-doc__input-text {
  display: block;
  margin: 0 10px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  line-height: 1.25;
}

.input-doc__input-text_uploaded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  overflow: auto;
  overflow-wrap: break-word;
}

.input-doc__input-text_type_tooltip {
  margin: 4px 0 12px;
  font-size: 14px;
  line-height: 1.42;
  color: #7B7B7B;
}

.input-doc__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  border: 0;
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
}

.input-doc__close-button:hover {
  opacity: .8;
}
