.inputContainer {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 400px;
  padding: 19px;
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  color: #3F3F3F;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
  transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
}

.input::placeholder {
  color: #7B7B7B;
}

.input:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.input:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.input_type_error {
  border: 1px solid #EB5757;
}

.input_type_number {
  background: #fff url(../../../images/ruble.svg) no-repeat calc(100% - 19px) center / 11px;
  padding: 19px 49px 19px 19px;
}

/* start: hide default browser arrow for number  */
.input_type_number {
  appearance: textfield;
}

.input_type_number::-webkit-outer-spin-button,
.input_type_number::-webkit-inner-spin-button {
  appearance: none;
}
/* end: hide default browser arrow for number */

.input__showPass {
  position: absolute;
  top: 46%;
  left: 91%;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/showPass.svg);
  background-position: center;
  opacity: .15;
  cursor: pointer;
}

.input__errorText {
  position: absolute;
  /* так по макету, но сейчас пока не хватает места */
  /*top: calc(100% + 4px);*/
  top: 100%;
  left: 0;
  color: #EB5757;
  font-size: 12px;
  line-height: 1;
}
