.inputContainer {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 400px;
  padding: 19px;
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  color: #3F3F3F;
  background: #fff;
  font-size: 16px;
  line-height: 1.25;
  transition: all .3s ease-in-out;
}

.input::placeholder {
  color: #7B7B7B;
}

.input:hover {
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.input:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #C6C6C6;
}

.input__showPass {
  position: absolute;
  top: 46%;
  left: 93%;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/showPass.svg);
  background-position: center;
  opacity: .15;
  cursor: pointer;
}

.input__error {
  border: 1px solid #CF1818;
}

.input__errorText {
  position: absolute;
  top: 100%;
  left: 4%;
  color: #CF1818;
}
