.input-container {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 400px;
  padding: 19px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  color: #3f3f3f;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
  transition:
    box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.input::placeholder {
  color: #7b7b7b;
}

.input:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.input:hover:not(:disabled) {
  box-shadow: 2px 2px 0 0 #c6c6c6;
}

.input_type_error {
  border: 1px solid #eb5757;
}

.input_type_number {
  background: #fff url('../../../images/ruble.svg') no-repeat calc(100% - 19px) center / 11px;
  padding: 19px 49px 19px 19px;
}

.input_type_password {
  padding-right: 61px;
}

/* start: hide default browser arrow for number  */
.input[type='number'] {
  appearance: textfield;
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

/* end: hide default browser arrow for number */

.input__show-pass {
  position: absolute;
  top: 54%;
  left: 89%;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../../../images/showPass.svg');
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.input__error-text {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  color: #eb5757;
  font-size: 12px;
  line-height: 1.1;
}
