@font-face {
    font-family: "Inter";
    src: url('../fonts/inter.ttf') format("truetype");
}

.mobile-menu button.navbar-toggler {
    width: 50px;
    height: 50px;
}


.card-body{
    padding: 10px !important
}

.card-header{
    padding: 10 10 0 !important;
}
::marker {
    margin: 0  ;
    padding: 0;
}

.mb-15 {
    margin-bottom: 15px;
}

.card-header.no-bg{
    background-color: transparent;
}

.mt-25 {
    margin-top: 0.25rem;
}

.sca {
    scale: 2;
    transform-origin: left;
}

.card h2.counter{
    font-size: 36px !important;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin-bottom: 0 !important;
}

body {
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 80px;
}

footer {
    min-height: 200px;
}


/* The article fills all the space between header & footer */

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page-header {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
}

.page-btn-container {
    padding-bottom: 15px;
    width: 100%;

}

.link-del-btn a {
    padding: 8 18 12 18;
    background-color: red;
    border-radius: 7px;
    color: white !important;
    font-size: 22px;
}

.font-p {
    font-size: 14px;
    font-weight: normal;
}

.tooltip-container {
    opacity: 0.5;
}

.black {
    color: black;
}

.link {
    text-decoration: underline;
}

.loader-container {
    position: absolute;
    top: 40%;
    left: calc(50% - 20px);
}


.padding-05 {
    padding: 0.5rem !important;
}

.page-content {
    padding-bottom: 15px;
    padding-left: 5px;
}

.success-msg {
    font-size: 24px;
    font-weight: 600;
    color: #2dcf2d;
}

.link-add-btn a {
    padding: 8 18 12 18;
    background-color: rgb(0, 0, 0);
    color: white !important;
    border-radius: 7px;
    font-size: 22px;
}

.green {
    color: rgb(85, 233, 85);
}

.select-extended-item span {
    font-family: "Inter" !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

.select-extended-item:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.form-item {
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #EDEDED;
}



.link-add-btn,
.link-del-btn {
    text-align: center;

    line-height: 1.9;
}

input.company-name {
    height: 46px;
    margin-top: 20px;
}

option::after {
    content: "\f00c";
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}

:root {
    --bs-border-color-translucent: #EDEDED !important;
}

.link {
    cursor: pointer;
    text-decoration: underline
}

.red {
    color: red;
}

.flex-1 {
    flex: 1;
}

.big-btn {
    padding: 3 50px;
}

.btn-counter-delimeter {
    width: 20px;
    display: inline-block;
}

.medium-height {
    max-height: 130px;
    overflow-y: scroll;

}

.medium-height input[type="radio"]:checked::before {
    transform: scale(1);
    margin-right: -5px;
}

.flex-d-row {
    flex-direction: row;
    gap: 20px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.btn.btn-primary .log {
    font-size: 14px;
}

.collapse.full-hide:not(.show) {
    display: none !important;
}

.services .card-body>div {
    min-height: 170px;
}

.services p.card-price {
    font-size: 16px;
    font-weight: bold;
}

.form-item {
    padding-bottom: 15px;
}

.form-item .form-item-label {
    font-weight: 600;
}

.filter-grey {
    filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(1%);
}

.profile-user-name {
    line-height: 3.5;
    font-size: 24px;
    font-weight: 600;
}

.pseodo-input {
    width: 450px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.qrcode {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.pseodo-input input {
    line-height: 2.6;
    border: none;
    margin-bottom: 0;
}

.pseodo-input button {
    margin-left: 10px;
    width: 45px;
    height: 45px;
}



.form-sm {
    max-width: 250px;
}

.form-md {
    max-width: 450px;
}

.vis-none {
    visibility: hidden;
}

.shop_panel_img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.shop_panel_img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.counter-text {
    font-size: 14px;
    display: inline-block;
    /* margin-right: 10px; */
    position: relative;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 10px;
}

.rating-star {
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: none;
    display: block;
    width: 25px;
    height: 25px;
}

.bold {
    font-weight: bold;
}

.star-empty {
    background: url('../img/icons/star_shape.svg');
}

.star-half {
    background: url('../img/icons/star_half.svg');
}

.star-fill {
    background: url('../img/icons/star.svg');
}
.ri-nav-btn{
    font-size: 20px !important;
    padding: 0px 20px !important;
    border-color: black !important;
    border: 1px solid !important;
}


.ri-nav-btn span{
    
    font-size: 16px !important;
}
.no-photo {
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #c1c1c1;
    margin: 0 auto;
}

.card{
    overflow: hidden;
}

.favorite_job_checkbox {
    display: none;
}

.flex {
    display: flex;
}

.pagination-btn.active-page {
    background: #e7e5e5;
}

.pagination-btn {
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid grey !important;
}

.pagination-btn:hover {
    background: #e7e5e5;
}

.response-invite-result {
    color: #3af83a;
}

.favorite_job_checkbox+.favorite-label {
    display: inline-block;
    padding: 0 0 0 0px;
    background: url("../img/icons/heart-empty.svg") no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    border-radius: 5px;
    background-size: 50%;
}

.favorite_job_checkbox:checked+.favorite-label {
    background: url("../img/icons/heart.svg") no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    background-size: 50%;
}

.no-photo span {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card-title {
    white-space: nowrap;
}

.balance-header {
    white-space: nowrap;
    /* line-height: 3; */
    margin-bottom: 0;
    padding-top: 10px;
}

.card .title {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.card .salary {

    color: black;
    font-weight: 500;
    font-size: 22px;
}

.card .item-name {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.card .item-name:hover {
    text-decoration: underline;
}

.card .work-type {
    color: grey;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.card .work-description-container {}

.card .work-description-container .work-experience {
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.card .work-description-container .work-deposit {
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.nowrap {
    white-space: nowrap;
}

.fl-d-row {
    flex-direction: row;
}

.width-100 {
    width: 100%;
}

.form-field {
    margin-bottom: 10px;
}

ul.head-right-row {
    min-width: 350px;
}

ul.head-right-row>li:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}

/* two items */
ul.head-right-row>li:first-child:nth-last-child(2),
ul.head-right-row>li:first-child:nth-last-child(2)~li {
    width: 50%;
}

/* three items */
ul.head-right-row>li:first-child:nth-last-child(3),
ul.head-right-row>li:first-child:nth-last-child(3)~li {
    width: 33.3333%;
}

ul.head-right-row>li {

    text-align: center;
}

.invalid-feedback {
    display: block;
}

.nav-link {
    white-space: nowrap;
}

.password-input {
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
}

.password-input>button {
    width: 50px;
    height: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.password-input>button {
    background-image: url('../img/eye.svg');
}

.password-input>button.hidepassword {
    background-image: url('../img/eye-closed.svg');
}

.password-input>input,
button {
    border: none !important;
    border-radius: 10px;
}

.password-input>input:focus {
    border: none !important;
}


.password-input>input:active {
    border: none !important;
}

.password-input:has(> input:focus) {
    border: 1px solid black;
    border-radius: 10px;
}

:root {
    --form-control-color: black;
}

input[type="radio"] {
    margin-top: 4px !important;
    margin-right: 5px !important;
    /* line-height: unset; */
    -webkit-appearance: none;
    float: left;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-radius: 35%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.subform-field {
    margin-left: 15px;
}


.form-check-input:checked {
    background-color: white;
    border-color: white;
}

.multiselect {
    max-height: 150px;
    overflow-y: scroll;
}

.multiselect select {
    display: none;
}

.multiselect-name {
    line-height: 1.1;
    margin-left: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.checkboxInput:disabled {
    opacity: 0.5;
}

form p {
    margin-bottom: 0.5rem;
}

form p label {
    font-weight: bold;
}

.multiselect-item p {
    font-size: 16px;
    margin-bottom: 3px;
}


.checkboxInput {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: 14px 14px;
    background-image: url(../img/icons/checkbox-false.svg);
    border: none;
    border-radius: 0;
    background-repeat: no-repeat;
}

.checkboxInput.checked {
    background-image: url(../img/icons/checkbox-true.svg);
}

.auth-form {
    width: 420px;
}

p.form-caption {
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

.captcha {
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

body {
    font-family: "Inter";
    min-width: 460px;
}

h1 {
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

table p {
    margin: 0px;
}

h2 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 22px;
}

h3.f-20 {
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
}

h4 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
}

h5 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
}

p {
    font-family: "Inter";
    font-weight: normal;
    font-size: 14px;
}

.vacancy-description span {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}

ul.errorlist {
    padding-left: 0px;
    font-family: "Inter";
    font-weight: normal;
    font-size: 14px;
}

p.form-error-msg {
    color: #d6001c;
}

a:has(.card) {
    text-decoration: none;
}


.form-field:has(#region),
.form-field:has(#id_deposit) {
    padding-left: 15px;
}

.form-field {
    padding-bottom: 10px;
}

a:has(.card):hover {
    color: black;
}

header a {
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.h-icon {
    margin-right: 5px;

}

a {
    font-family: "Inter";
    font-weight: normal;
    font-size: 14px;
    color: black;
}


.form-label {
    display: none;
}

footer a.nav-link {
    font-family: "Inter" !important;
    font-weight: normal !important;
    font-size: 14px !important;
    color: black !important;
}

.text-shadow {
    color: #9d9d9d !important;
}

.border-grey {
    border: 1px solid #ededed;
    padding: 5px 10px;
    border-radius: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: .35rem;
}

.company-logo-mini {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    padding: 3px;
    background-color: #EDEDED;
}


.company-logo-big {
    border-radius: 100px;
    width: 130px;
    height: 130px;
    padding: 3px;
    background-color: #EDEDED;
}

.ml-5 {
    margin-left: 5px;
}

a.nav-link {
    font-family: "Inter" !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: black !important;
}

span {
    font-family: "Inter";
    font-weight: normal;
    font-size: 9px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: black;
    --bs-btn-disabled-border-color: black;
}

.border-color-danger {
    border-color: #D6001C !important;

}


::placeholder {
    color: #adadad;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #adadad;
}

input[type="text"]:focus {
    border: 1px solid black;
    outline: none !important;
}

.btn {
    --bs-btn-border-radius: 10px !important;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.175rem;
}

.form-control {
    font-family: "Inter";
    font-weight: normal;
    font-size: 16px;
    border-radius: 10px;
    line-height: 2;
}

.p-l-r-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.p-t {
    padding-top: 0px;
}

input[type="text"]:active {
    border: 1px solid black;
    outline: none !important;
}

.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {

    --bs-btn-font-family: "Inter" !important;
    --bs-btn-font-size: 16px !important;
    --bs-btn-font-weight: normal !important;
    --bs-btn-line-height: 1.7 !important;

}


.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4BB24E;
    --bs-btn-border-color: #4BB24E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4BB24E;
    --bs-btn-hover-border-color: #4BB24E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4BB24E;
    --bs-btn-active-border-color: #4BB24E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4BB24E;
    --bs-btn-disabled-border-color: #4BB24E;
}


.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d6001c;
    --bs-btn-border-color: #D6001C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D6001C;
    --bs-btn-hover-border-color: #D6001C;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #D6001C;
    --bs-btn-active-border-color: #D6001C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D6001C;
    --bs-btn-disabled-border-color: #D6001C;
}

.btn-white {
    --bs-btn-color: black;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #adadad;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #adadad;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #adadad;
    --bs-btn-disabled-border-color: #adadad;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #ededed;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
}

.hide-btn {
    color: black !important;
    text-decoration: underline !important;
}

.text-big {
    font-size: 18px !important;
}


.hide-btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.search-form-main {
    gap: 10px;
}

.flex-none {
    flex: none
}

.btn {
    min-height: 46px;
    line-height: 2.2;
    font-size: large;

}

.flex-content {
    flex: content;
}

.card.no-hover:hover {
    --bs-card-cap-bg: rgba(225, 225, 225, 0);
    --bs-card-bg: rgba(237, 237, 237, 0);
}

.card:hover {
    --bs-card-cap-bg: #e1e1e1;
    --bs-card-bg: #ededed;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
}

input[type="text"]:focus.border-color-danger {
    border-color: #D6001C !important;

}

.icon-text {
    vertical-align: middle;
    display: inline-block;
}

.red-icon svg {
    filter: invert(12%) sepia(71%) saturate(6661%) hue-rotate(358deg) brightness(110%) contrast(111%);
}

section {
    padding-top: 20px;
}

.border-none {
    border: none !important;
}

.arrow-step {
    background-image: url("../img/arrow_1.png");
    background-repeat: no-repeat;
    background-position-y: center;
}

.card-p-margin-5 p {
    margin-bottom: 5px !important;
    font-size: 14px;
}

section>.row>div {
   
}

.card {
    padding: 3 15 5 15;
}

.bs .card .card-header {
    padding: 0;
}

.nav-item a.nav-link.active {
    text-decoration: underline;
    font-weight: bold;
}

.left {
    float: left;
    padding-right: 10px;
}

.hot-job-card {
    border: 1px solid #d6d6d6;
    border-left: 4px solid red;

    border-radius: 5px;
}

.job-list>.card:hover {
    background-color: #f3eeee;
}

a:has(.card) {
    text-decoration: none;
}

a:has(.card):hover {
    color: black;
}

a:has(.best-customers-card) {
    text-decoration: none;
}

a:has(.best-customers-card):hover {
    color: black;
}

.card-title a {
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.job-card-item-customer.customer-name {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.job-card-item-customer.customer-name:hover {
    text-decoration: underline;
    color: black;
}

.customer-name {
    margin: 0;
}

ul.errorlist {
    list-style: none;
    color: red;
}

.right {
    float: right;
}

.card.horizontal-height {
    min-height: 123px;
}

.card .salary {
    font-weight: 600;
    white-space: nowrap;
}

.card {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: yellow;
}

.card p {
    margin-bottom: 0;
}

.star-rating-container {
    line-height: 2;
}

.response_invite_filter_form {
    visibility: hidden;
}

.table th {
    color: #999999;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.text-left {
    text-align: left;
}

.danger {
    color: #D6001C !important;
}


.table th.link {
    color: #999999;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.table th.link button {
    color: #999999;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}


h1 {
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.table td.normal {
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.table td.link {
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}


.btn {
    width: 100%;
}

section .section-header {
    padding: 15px 0;
}


@media (max-width: 1400px) {

    h3,
    h4,
    h5,
    h6 {
        font-size: 1.1rem !important;
    }

    .h-icon {
        height: 100%;

    }

    .products-category-container .card-title {
        font-size: 1rem !important;
    }
}

.flex-1 {
    flex: 1;
}

.flex-02 {
    flex: 0.5;
}

.flex-04 {
    flex: 0.25;
}

.flex-03 {
    flex: 0.33;
}

.h-icon {
    height: 100%;

}

.mobile-menu .navbar-collapse.show {

    left: 60px;
    width: calc(100% - 60px);
    z-index: 1000;
    background: white;
    position: absolute;

    padding: 0 10;
    border: 1px solid #c8c8c8;
    /* padding: 10px; */
    border-top: none;
}


.mobile-menu .navbar-collapse.show .navbar-nav {
    padding: 10px;
}

.flex-align-baseline {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

.card {
    padding: 0px;
}

body {
    font-size: 18px;
    /* Set the initial font size */
}

.work-deposit {
    padding: 0%;
}

.card-section {
    width: 100%;
    margin-top: 5px;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-align-baseline img {
    padding: 0px;
}

@media (min-width: 1400px) {
    body {
        font-size: 20px;
        /* Adjust the font size for smaller screens */

    }

    .flex-align-baseline img {
        margin-top: -10px;
        max-height: 15;
    }

    .item-name {
        font-size: 18px;
    }

    .form-title {
        font-size: 18px;
    }

    .card-title {
        font-size: 16px;
    }

    .page-title {
        font-size: 26px;
    }

    .card-body * {
        font-size: 14px;
    }

    .sub-text {
        font-size: 16px;
    }

    .btn {
        font-size: 18px;
    }

    .h-icon {
        height: 100%;
    }

    .price {
        font-size: 18px;
    }
}

.btn,
a,
button {
    font-size: 16px;
}

@media (max-width: 1400px) {
    body {
        font-size: 18px;
        /* Adjust the font size for smaller screens */

    }

    .flex-align-baseline img {
        margin-top: 3px;
        max-height: 14;
    }

    .item-name {
        font-size: 16px;
    }

    .card-title {
        font-size: 16px;
    }

    .page-title {
        font-size: 24px;
    }

    .card-body {
        font-size: 16px;
    }

    .sub-text {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
    }

    .h-icon {
        height: 100%;
    }

    .price {
        font-size: 18px;
    }
}

/* Add media queries to adjust the font size for different screen sizes */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Adjust the font size for smaller screens */
    }

    .flex-align-baseline img {
        margin-top: 2px;
        max-height: 13;
    }

    .item-name {
        font-size: 14px;
    }

    .card-title {
        font-size: 16px;
    }

    .page-title {
        font-size: 20px;
    }

    .card-body {
        font-size: 14px;
    }

    .sub-text {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .h-icon {
        height: 100%;
    }

    .price {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
        /* Adjust the font size for even smaller screens */
    }

    .flex-align-baseline img {
        margin-top: 1px;
        max-height: 11;
    }

    .item-name {
        font-size: 12px;
    }

    .card-title {
        font-size: 16px;
    }

    .page-title {
        font-size: 20px;
    }

    .card-body {
        font-size: 14px;
    }

    .sub-text {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .h-icon {
        height: 100%;
    }

    .price {
        font-size: 14px;
    }
}

.mr-10 {
    margin-right: 10px;
}