.chat {
    display: flex;
}

.chat-container {
    width: 90%;


    margin: 0 auto;
    height: 869px;
    position: relative;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px #EDEDED solid;
}

.footer {
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    border: 1px #EDEDED solid;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.input-container {
    flex: 1;
    height: 44px;
    display: flex;
    position: relative;
}

.input-box {
    flex: 1;
    height: 100%;
    background: white;
    border-radius: 10px;
    border: 1px #D9D9D9 solid;
}

.input-placeholder {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    color: #9D9D9D;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    padding-left: 19px;
    box-sizing: border-box;
}

.send-button {

    margin-left: 20px;
    position: relative;
}

.send-icon {
    width: 23.82px;
    height: 20.51px;
    position: absolute;
    background: black;
}

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    border-top-left-radius: 10px;
    overflow: hidden;
    border: 1px #EDEDED solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.shop-name {
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.leave-chat {
    color: #D6001C;
    font-size: 14px;
    font-family: Inter;
    margin-right: 5px;
    font-weight: 400;
    word-wrap: break-word;
}

.leave-icon-container {
    display: flex;
    cursor: pointer;
    height: 16px;
    position: relative;
    margin-right: 10px;
}

.leave-icon {
    width: 13px;
    height: 16px;
    background: #D6001C;
}

.chat-body {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 83px;
    background: white;
    overflow: auto;
}

.chat-space {
    width: 90%;
    max-width: 856px;
    margin: 0 auto;
    position: relative;
    padding-top: 24px;
    box-sizing: border-box;
}

.date {
    width: 100%;
    height: 48px;
    text-align: center;
    color: #9D9D9D;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
}

.message-container img,
.message-container-2 img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.message-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.message-username {
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
}

.message-time {
    color: #9D9D9D;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.message-text {
    color: black;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .send-icon {
        width: 20px;
        height: 20px;
    }

    .leave-chat {
        display: none;
    }

    .message-username {
        font-size: 13px;
    }

    .message-time {
        font-size: 13px;
    }

    .date {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .chat-container {
        width: 100%;
    }

    .header {
        padding: 0 10px;
    }

    .footer {
        padding: 0 10px;
    }

    .input-placeholder {
        font-size: 12px;
    }

    .shop-name {
        font-size: 16px;
    }

    .message-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .shop-name {
        font-size: 14px;
    }

    .send-icon {
        width: 18px;
        height: 18px;
    }

    .message-text {
        font-size: 10px;
    }
}


.chats-container {
    width: 90%;
    max-width: 936px;
    flex-basis: 380px;
    margin: 0 auto;
    height: 869px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px #edeDED solid;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.return-bar {
    height: 50px;
    background: #edeDED;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #edeDED solid;
}


.search-bar {
    width: 100%;
    height: 50px;
    border: 1px #EDEDED solid;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    gap: 10px;
}



.search-icon {
    width: 16.27px;
    height: 16px;
    background-color: rgba(10, 10, 10, 0);
    background-image: url('../img/icons/search.svg');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.search-placeholder:focus {
    border: none !important;
}

.search-placeholder {
    color: #9D9D9D;
    border: none;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}


.return-link {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.chats-message-preview {

    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 8px 19px;
    gap: 10px;
}

.chats-message-preview:hover {
    background: #edeDED;
    cursor: pointer;
}

.chat-active {
    background: #edeDED;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}

.chats-message-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.chats-message-header {
    display: flex;
    justify-content: space-between;
}

.chats-message-username {
    color: black;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}

.chats-message-time {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

.chats-message-body {
    display: flex;
}

.chats-message-text {
    color: #9d9d9d;
    font-size: 14px;
    flex: 1;
    font-weight: 400;
    word-wrap: break-word;
}

.notification {
    width: 36px;
    height: 17px;
    background: #d6001c;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-text {
    color: white;
    font-size: 10px;
    font-weight: 400;
}

.expand-bar {
    display: none;
}

.chat-container.hidden {
    display: block;
}

.button-with-arrow {
    background: rgb(70, 70, 70);
    vertical-align: middle;
    height: 35px;
    width: 35px;
    border-radius: 7px;
}

.button-with-arrow:hover {
    background-color: #5f5f5f;
}

.chats-container.expanded .button-with-arrow .arrow {

    transform: rotate(318deg);
}

.button-with-arrow .arrow {
    display: block;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    height: 20px;
    width: 20px;
    /* margin: 10px 20px 10px 10px; */
    transform: rotate(135deg);
}

.test-btn {

    --slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-size: cover;
    line-height: 1.2;
    cursor: var(--custom-cursor, pointer);
    text-transform: uppercase;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    transition: background-color .15s, color .15s;
    text-decoration: none !important;
    --premium-gradient: linear-gradient(88.39deg, #6C93FF -2.56%, #976FFF 51.27%, #DF69D1 107.39%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-secondary);
    padding: .3125rem;
    width: 2.5rem;
    height: 2.5rem;
}

.animated-close-icon {

    line-height: 1.2;
    cursor: var(--custom-cursor, pointer);
    text-transform: uppercase;
    --premium-gradient: linear-gradient(88.39deg, #6C93FF -2.56%, #976FFF 51.27%, #DF69D1 107.39%);

    color: grey;
    box-sizing: border-box;
    position: absolute;
    width: 1.125rem;
    height: .125rem;
    border-radius: .125rem;
    background-color: grey;
    transition: transform var(--slide-transition);
    transform: rotate(180deg);
}

.animated-close-icon.state-back::before {
    transform: rotate(45deg) scaleX(0.75) translate(0, -0.375rem);
}

.animated-close-icon::before {
    transform: rotate(90deg);
}

.animated-close-icon,
.animated-close-icon::before,
.animated-close-icon::after {
    width: 1.125rem;
    height: .125rem;
    border-radius: .125rem;
    background-color: grey;
    transition: transform var(--slide-transition);
}

.animated-close-icon::before,
.animated-close-icon::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}

.animated-close-icon.state-back::after {
    transform: rotate(-45deg) scaleX(0.75) translate(0, 0.375rem);
}

@media (max-width: 768px) {
    .chats-container {
        max-width: 90%;
        flex-basis: 70px;
    }

    .chat-container.hidden {
        display: none !important;
    }

    .expand-bar {
        display: block;
    }

    .chats-container.expanded {
        width: 90%;
        max-width: 936px;
        flex-basis: 380px !important;
    }

    .search-bar,
    .return-bar {
        display: none;
    }

    .chats-container.expanded>.search-bar,
    .chats-container.expanded>.return-bar {
        display: flex;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    .chats-message-username,
    .chats-message-time,
    .chats-message-text {
        font-size: 12px;
    }

    .chats-container.expanded>.chats-message-preview {
        flex-direction: row;
    }

    .chats-message-preview {
        padding: 8px 10px;
        flex-direction: column;
    }

    .chats-message-time,
    .chats-message-text {
        display: none;
    }

    .chats-container.expanded .chats-message-time,
    .chats-container.expanded .chats-message-text {
        display: block;
    }

    .notification {
        width: 28px;
        height: 14px;
    }

    .notification-text {
        font-size: 9px;
    }
}

@media (max-width: 480px) {
    .chats-container {
        width: 100%;
    }



    .notification {
        width: 25px;
        height: 12px;
    }


    .avatar {
        width: 35px;
        height: 35px;
    }

    .chats-message-username,
    .chats-message-time,
    .chats-message-text {
        font-size: 10px;
    }

    .notification {
        width: 25px;
        height: 12px;
    }

    .notification-text {
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    .chats-container {
        width: 100%;

    }



    .avatar {
        margin-bottom: 5px;
    }


    .chats-message-username,
    .chats-message-time {
        font-size: 9px;
    }

    .chats-message-text {
        font-size: 8px;
    }

    .notification {
        width: 20px;
        height: 10px;
    }

    .notification-text {
        font-size: 7px;
    }
}

.chat-send-message-btn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(10, 10, 10, 0);
    background-image: url('../img/icons/send.svg');
    background-position: center;
    background-repeat: no-repeat;

}

.chat-exit-icon {
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgba(10, 10, 10, 0);
    background-image: url('../img/icons/leave.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.red {
    color: red;
}